### Reference Dates

Num Training Weeks = 4  
Num Test/Val Days = 15

- Train: 5/30/2017 (Tues), 6/6/2017,6/13/2017,6/20/2017  
- Val: 7/11/2017 (Tues) - 7/25/2017 (Wed)  
- Test: 8/1/2017 (Tues)  - 8/15/2017 (Wed)

In [6]:
!pip install tqdm
!pip install  pandas
!pip install sklearn
!pip install keras

Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (4.41.0)
WARNING: You are using pip version 19.2.3, however version 19.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (0.25.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.17.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.6.1->pandas) (1.11.0)
WARNING: You are using pip version 19.2.3, however version 19.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Requirement already satisfied: sklearn in /usr/local/lib/python3.6/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from sklearn) (0.22)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (0.14.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (1.17.2)
WARNING: You are using pip version 19.2.3, however version 19.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Requirement already satisfied: keras in /usr/local/lib/python3.6/dist-packages (2.3.1)
Requirement already satisfied: numpy>=1.9.1 in /usr/local/lib/python3.6/dist-packages (from keras) (1.17.2)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from keras) (2.10.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from keras) (5.2)
Requirement already satisfied: keras-applications>=1.0.6 in /usr/local/lib/python3.6/dist-packages (from keras) (1.0.8)
Requirement already satisfied: six>=1.9.0 in /usr/lib/python3/dist-packages (from keras) (1.11.0)
Requirement already satisfied: scipy>=0.14 in /usr/local/lib/python3.6/dist-packages (from keras) (1.4.1)
Requirement already satisfied: keras-preprocessing>=1.0.5 in /usr/local/lib/python3.6/dist-packages (from keras) (1.1.0)
WARNING: You are using pip version 19.2.3, however version 19.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [7]:
from tqdm import tqdm

In [59]:
from datetime import date, timedelta
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from keras.models import Sequential
from keras.layers.core import Dense, Activation
from keras.layers.advanced_activations import PReLU
from keras.layers.normalization import BatchNormalization
from keras import callbacks
from keras import optimizers
from keras.callbacks import ModelCheckpoint, EarlyStopping, ReduceLROnPlateau
import gc

In [9]:
df_train = pd.read_csv(
    '../input/train.csv', usecols=[1, 2, 3, 4, 5],
    dtype={'onpromotion': bool},
    converters={'unit_sales': lambda u: np.log1p(
        float(u)) if float(u) > 0 else 0},
    parse_dates=["date"],
    skiprows=range(1, 66458909)  # 2016-01-01
)

df_test = pd.read_csv(
    "../input/test.csv", usecols=[0, 1, 2, 3, 4],
    dtype={'onpromotion': bool},
    parse_dates=["date"]  # , date_parser=parser
).set_index(
    ['store_nbr', 'item_nbr', 'date']
)

In [10]:
items = pd.read_csv(
    "../input/items.csv",
).set_index("item_nbr")

stores = pd.read_csv(
    "../input/stores.csv",
).set_index("store_nbr")

In [11]:
items.head()

                family  class  perishable
item_nbr
96995        GROCERY I   1093           0
99197        GROCERY I   1067           0
103501        CLEANING   3008           0
103520       GROCERY I   1028           0
103665    BREAD/BAKERY   2712           1

In [12]:
stores.head()

                    city                           state type  cluster
store_nbr
1                  Quito                       Pichincha    D       13
2                  Quito                       Pichincha    D       13
3                  Quito                       Pichincha    D        8
4                  Quito                       Pichincha    D        9
5          Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [13]:
df_2017 = df_train.loc[df_train.date>=pd.datetime(2017,1,1)]
del df_train
gc.collect()

22

In [14]:
df_2017.head()

               date  store_nbr  item_nbr  unit_sales  onpromotion
35229871 2017-01-01         25     99197    0.693147        False
35229872 2017-01-01         25    103665    2.079442        False
35229873 2017-01-01         25    105574    0.693147        False
35229874 2017-01-01         25    105857    1.609438        False
35229875 2017-01-01         25    106716    1.098612        False

In [15]:
promo_2017_train = df_2017.set_index(
    ["store_nbr", "item_nbr", "date"])[["onpromotion"]].unstack(
        level=-1).fillna(False)
promo_2017_train.columns = promo_2017_train.columns.get_level_values(1)
promo_2017_test = df_test[["onpromotion"]].unstack(level=-1).fillna(False)
promo_2017_test.columns = promo_2017_test.columns.get_level_values(1)
promo_2017_test = promo_2017_test.reindex(promo_2017_train.index).fillna(False)
promo_2017 = pd.concat([promo_2017_train, promo_2017_test], axis=1)
del promo_2017_test, promo_2017_train, df_test
gc.collect()

0

In [16]:
promo_2017.head()

date                2017-01-01  2017-01-02  2017-01-03  2017-01-04  \
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103520         False       False       False       False
          103665         False       False       False       False
          105574         False       False        True       False

date                2017-01-05  2017-01-06  2017-01-07  2017-01-08  \
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103520         False       False       False       False
          103665         False       False       False       False
          105574         False        True       False       False

date                2017-01-09  2017-01-10  ...  2017-08-22  2017-08-23  \
store_nbr item_nbr                          ...
1         96995          False       False  ...       False       False
          99197          False       False  ...       False       False
          103520         False       False  ...       False       False
          103665         False       False  ...       False       False
          105574         False       False  ...       False       False

date                2017-08-24  2017-08-25  2017-08-26  2017-08-27  \
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103520         False       False       False       False
          103665         False       False       False       False
          105574         False       False       False       False

date                2017-08-28  2017-08-29  2017-08-30  2017-08-31
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103520         False       False       False       False
          103665         False       False       False       False
          105574         False       False       False       False

[5 rows x 243 columns]

In [17]:
df_2017 = df_2017.set_index(
    ["store_nbr", "item_nbr", "date"])[["unit_sales"]].unstack(
        level=-1).fillna(0)
df_2017.columns = df_2017.columns.get_level_values(1)

In [18]:
df_2017.head()

date                2017-01-01  2017-01-02  2017-01-03  2017-01-04  \
store_nbr item_nbr
1         96995            0.0    0.000000    0.000000    0.000000
          99197            0.0    0.000000    1.386294    0.693147
          103520           0.0    0.693147    1.098612    0.000000
          103665           0.0    0.000000    0.000000    1.386294
          105574           0.0    0.000000    1.791759    2.564949

date                2017-01-05  2017-01-06  2017-01-07  2017-01-08  \
store_nbr item_nbr
1         96995       0.000000    0.000000    0.000000    0.000000
          99197       0.693147    0.693147    1.098612    0.000000
          103520      1.098612    1.386294    0.693147    0.000000
          103665      1.098612    1.098612    0.693147    1.098612
          105574      2.302585    1.945910    1.609438    1.098612

date                2017-01-09  2017-01-10  ...  2017-08-06  2017-08-07  \
store_nbr item_nbr                          ...
1         96995       0.000000    0.000000  ...    1.098612    1.098612
          99197       0.000000    0.693147  ...    0.000000    1.098612
          103520      0.693147    0.693147  ...    0.000000    0.000000
          103665      0.000000    2.079442  ...    0.693147    1.098612
          105574      1.386294    2.302585  ...    0.000000    1.791759

date                2017-08-08  2017-08-09  2017-08-10  2017-08-11  \
store_nbr item_nbr
1         96995       0.000000    0.000000    0.693147    0.000000
          99197       0.000000    1.098612    0.000000    0.000000
          103520      1.386294    0.000000    1.386294    0.693147
          103665      0.000000    2.079442    2.302585    1.098612
          105574      2.079442    1.945910    2.397895    1.791759

date                2017-08-12  2017-08-13  2017-08-14  2017-08-15
store_nbr item_nbr
1         96995       0.000000    0.000000    0.000000    0.000000
          99197       0.000000    0.000000    0.000000    0.000000
          103520      0.693147    0.693147    0.000000    0.000000
          103665      0.000000    0.000000    0.693147    0.693147
          105574      1.791759    0.000000    1.386294    1.609438

[5 rows x 227 columns]

In [19]:
items['class'] = items['class'].astype('category')
items = pd.get_dummies(items)

In [20]:
items.head()

,perishable,family_AUTOMOTIVE,family_BABY CARE,family_BEAUTY,family_BEVERAGES,family_BOOKS,family_BREAD/BAKERY,family_CELEBRATION,family_CLEANING,family_DAIRY,...,class_6920,class_6922,class_6924,class_6936,class_6954,class_6960,class_7002,class_7016,class_7034,class_7780
item_nbr,,,,,,,,,,,,,,,,,,,,,
96995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99197,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
103501,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
103520,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
103665,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
items = items.reindex(df_2017.index.get_level_values(1))

In [22]:
items.shape

(167515, 371)

In [23]:
stores.head()

                    city                           state type  cluster
store_nbr
1                  Quito                       Pichincha    D       13
2                  Quito                       Pichincha    D       13
3                  Quito                       Pichincha    D        8
4                  Quito                       Pichincha    D        9
5          Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [24]:
stores['cluster'] = stores.cluster.astype('category')
stores = pd.get_dummies(stores)
stores = stores.reindex(df_2017.index.get_level_values(0))

In [25]:
stores.head()

,city_Ambato,city_Babahoyo,city_Cayambe,city_Cuenca,city_Daule,city_El Carmen,city_Esmeraldas,city_Guaranda,city_Guayaquil,city_Ibarra,...,cluster_8,cluster_9,cluster_10,cluster_11,cluster_12,cluster_13,cluster_14,cluster_15,cluster_16,cluster_17
store_nbr,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [26]:
stores.shape

(167515, 60)

In [27]:
#sum of sales for each item across all stores for each day
#df_2017_item = df_2017.groupby('item_nbr')[df_2017.columns].sum()

In [28]:
#sum of promotion for each item across all stores for each day
#promo_2017_item = promo_2017.groupby('item_nbr')[promo_2017.columns].sum()

In [29]:
# sum of sales in each class (multiple items) for each store for each day 
# df_2017_store_class = df_2017.reset_index()
# df_2017_store_class['class'] = items['class'].values
# df_2017_store_class_index = df_2017_store_class[['class', 'store_nbr']]
# df_2017_store_class = df_2017_store_class.groupby(['class', 'store_nbr'])[df_2017.columns].sum()

In [30]:
#df_2017_store_class_index.head()

In [31]:
#df_2017_store_class.shape

In [32]:
#df_2017_store_class.head()

In [33]:
# sum of promotions in each class (multiple items) for each store for each day 

# df_2017_promo_store_class = promo_2017.reset_index()
# df_2017_promo_store_class['class'] = items['class'].values
# df_2017_promo_store_class_index = df_2017_promo_store_class[['class', 'store_nbr']]
# df_2017_promo_store_class = df_2017_promo_store_class.groupby(['class', 'store_nbr'])[promo_2017.columns].sum()

In [34]:
def get_timespan(df, dt, minus, periods, freq='D'):
    return df[pd.date_range(dt - timedelta(days=minus), periods=periods, freq=freq)]

In [35]:
def prepare_dataset(df, promo_df, t2017, is_train=True, name_prefix=None):
    X = {
        "promo_7_2017": get_timespan(promo_df, t2017, 7, 7).sum(axis=1).values,
        "promo_14_2017": get_timespan(promo_df, t2017, 14, 14).sum(axis=1).values,
        "promo_30_2017": get_timespan(promo_df, t2017, 30, 30).sum(axis=1).values,
        "promo_3_2017_aft": get_timespan(promo_df, t2017 + timedelta(days=15), 14, 3).sum(axis=1).values,
        "promo_7_2017_aft": get_timespan(promo_df, t2017 + timedelta(days=15), 14, 7).sum(axis=1).values,
        "promo_14_2017_aft": get_timespan(promo_df, t2017 + timedelta(days=15), 14, 14).sum(axis=1).values,
    }

# Removed due to the presence of nan values 
#     for i in [3, 7, 14, 30]:
#         tmp1 = get_timespan(df, t2017, i, i)
#         tmp2 = (get_timespan(promo_df, t2017, i, i) > 0) * 1

#         X['has_promo_mean_%s' % i] = (tmp1 * tmp2.replace(0, np.nan)).mean(axis=1).values
#         X['no_promo_mean_%s' % i] = (tmp1 * (1 - tmp2).replace(0, np.nan)).mean(axis=1).values
                
        
    for i in [3, 7, 14, 30]:
        tmp = get_timespan(df, t2017, i, i)
        X['diff_%s_mean' % i] = tmp.diff(axis=1).mean(axis=1).values
        X['mean_%s' % i] = tmp.mean(axis=1).values
        X['median_%s' % i] = tmp.median(axis=1).values
        X['min_%s' % i] = tmp.min(axis=1).values
        X['max_%s' % i] = tmp.max(axis=1).values
        X['std_%s' % i] = tmp.std(axis=1).values

    for i in [7, 14, 30]:
        tmp = get_timespan(df, t2017, i, i)
        X['has_sales_days_in_last_%s' % i] = (tmp > 0).sum(axis=1).values
        X['last_has_sales_day_in_last_%s' % i] = i - ((tmp > 0) * np.arange(i)).max(axis=1).values
        X['first_has_sales_day_in_last_%s' % i] = ((tmp > 0) * np.arange(i, 0, -1)).max(axis=1).values

        tmp = get_timespan(promo_df, t2017, i, i)
        X['has_promo_days_in_last_%s' % i] = (tmp > 0).sum(axis=1).values
        X['last_has_promo_day_in_last_%s' % i] = i - ((tmp > 0) * np.arange(i)).max(axis=1).values
        X['first_has_promo_day_in_last_%s' % i] = ((tmp > 0) * np.arange(i, 0, -1)).max(axis=1).values

    tmp = get_timespan(promo_df, t2017 + timedelta(days=15), 14, 14)
    X['has_promo_days_in_after_14_days'] = (tmp > 0).sum(axis=1).values
    X['last_has_promo_day_in_after_14_days'] = i - ((tmp > 0) * np.arange(14)).max(axis=1).values
    X['first_has_promo_day_in_after_14_days'] = ((tmp > 0) * np.arange(14, 0, -1)).max(axis=1).values

    for i in range(1, 15):
        X['day_%s_2017' % i] = get_timespan(df, t2017, i, 1).values.ravel()

    for i in range(7):
        X['mean_4_dow{}_2017'.format(i)] = get_timespan(df, t2017, 28-i, 4, freq='7D').mean(axis=1).values
        X['mean_20_dow{}_2017'.format(i)] = get_timespan(df, t2017, 140-i, 20, freq='7D').mean(axis=1).values        
        
    for i in range(-14, 15):
        X["promo_{}".format(i)] = promo_df[t2017 + timedelta(days=i)].values.astype(np.uint8)

    X = pd.DataFrame(X)

    if is_train:
        y = df[
            pd.date_range(t2017, periods=15)
        ].values
        return X, y
    if name_prefix is not None:
        X.columns = ['%s_%s' % (name_prefix, c) for c in X.columns]
    return X

In [36]:
from tqdm import tqdm

In [37]:
print("Preparing dataset...")
t2017 = date(2017, 5, 30)
num_days = 4
X_l, y_l = [], []
for i in tqdm(range(num_days)):
    delta = timedelta(days=7 * i)
    X_tmp, y_tmp = prepare_dataset(df_2017, promo_2017, t2017 + delta)

    X_tmp = pd.concat([X_tmp, items.reset_index(drop=True), stores.reset_index(drop=True)], axis=1)
    X_l.append(X_tmp)
    y_l.append(y_tmp)

X_train = pd.concat(X_l, axis=0)
y_train = np.concatenate(y_l, axis=0)

del X_l, y_l
gc.collect()

  0%|          | 0/4 [00:00<?, ?it/s]

Preparing dataset...

100%|██████████| 4/4 [00:09<00:00,  2.28s/it]

0

In [38]:
X_val, y_val = prepare_dataset(df_2017, promo_2017, date(2017, 7, 11))

# X_val2 = prepare_dataset(df_2017_item, promo_2017_item, date(2017, 7, 26), is_train=False, name_prefix='item')
# X_val2.index = df_2017_item.index
# X_val2 = X_val2.reindex(df_2017.index.get_level_values(1)).reset_index(drop=True)

# X_val3 = prepare_dataset(df_2017_store_class, df_2017_promo_store_class, date(2017, 7, 26), is_train=False, name_prefix='store_class')
# X_val3.index = df_2017_store_class.index
# X_val3 = X_val3.reindex(df_2017_store_class_index).reset_index(drop=True)

X_val = pd.concat([X_val, items.reset_index(drop=True), stores.reset_index(drop=True)], axis=1)

X_test, y_test = prepare_dataset(df_2017, promo_2017, date(2017, 8, 1))

# X_test2 = prepare_dataset(df_2017_item, promo_2017_item, date(2017, 8, 16), is_train=False, name_prefix='item')
# X_test2.index = df_2017_item.index
# X_test2 = X_test2.reindex(df_2017.index.get_level_values(1)).reset_index(drop=True)

# X_test3 = prepare_dataset(df_2017_store_class, df_2017_promo_store_class, date(2017, 8, 16), is_train=False, name_prefix='store_class')
# X_test3.index = df_2017_store_class.index
# X_test3 = X_test3.reindex(df_2017_store_class_index).reset_index(drop=True)

X_test = pd.concat([X_test, items.reset_index(drop=True), stores.reset_index(drop=True)], axis=1)

# del X_test2, X_val2, df_2017_item, promo_2017_item, df_2017_store_class, df_2017_promo_store_class, df_2017_store_class_index
# gc.collect()

In [39]:
for col in X_train.columns:
    if X_train[col].nunique() == 1:
        print(col)

class_1005
class_1328
class_1334

In [40]:
#there are columns with unique values but will leave it here for simplicity

In [41]:
X_train.shape, y_train.shape

((670060, 539), (670060, 15))

In [42]:
X_val.shape, y_val.shape

((167515, 539), (167515, 15))

In [43]:
X_test.shape, y_test.shape

((167515, 539), (167515, 15))

In [44]:
del df_2017, promo_2017
gc.collect()

0

In [45]:
scaler = StandardScaler()
scaler.fit(pd.concat([X_train, X_val, X_test]))
X_train[:] = scaler.transform(X_train)
X_val[:] = scaler.transform(X_val)
X_test[:] = scaler.transform(X_test)

In [46]:
X_train = X_train.values
X_test = X_test.values
X_val = X_val.values

In [47]:
X_train.shape, y_train.shape

((670060, 539), (670060, 15))

In [48]:
X_val.shape, y_val.shape

((167515, 539), (167515, 15))

In [49]:
X_test.shape, y_test.shape

((167515, 539), (167515, 15))

## MLP Model 3

256 x 128 x 64 x 32 x 16 x 1

In [60]:
def build_model():

    model = Sequential()

    model.add(Dense(256, input_dim=X_train.shape[1]))
    model.add(PReLU())
    model.add(BatchNormalization())
#     model.add(Dropout(.1))

    model.add(Dense(128, input_dim=X_train.shape[1]))
    model.add(PReLU())
    model.add(BatchNormalization())
#     model.add(Dropout(.05))
#     model.add(Dropout(0.1))
    
    model.add(Dense(64))
    model.add(PReLU())
    model.add(BatchNormalization())
#     model.add(Dropout(.05))

    model.add(Dense(32))
    model.add(PReLU())
    model.add(BatchNormalization())
#     model.add(Dropout(.05))

    model.add(Dense(16))
    model.add(PReLU())
    model.add(BatchNormalization())
#     model.add(Dropout(.05))

    model.add(Dense(1))
    return model

In [62]:
N_EPOCHS = 2000

val_pred = []
test_pred = []
# wtpath = 'weights.hdf5'  # To save best epoch. But need Keras bug to be fixed first.
sample_weights=np.array( pd.concat([items["perishable"]] * num_days) * 0.25 + 1 )
for i in range(15):
    print("=" * 50)
    print("Step %d" % (i+1))
    print("=" * 50)
    y = y_train[:, i]
    y_mean = y.mean()
    xv = X_val
    yv = y_val[:, i]
    model = build_model()

    opt = optimizers.Adam(lr=0.001)
#     opt = optimizers.RMSprop(learning_rate=0.001, rho=0.9)
    model.compile(loss='mse', optimizer=opt, metrics=['mse'])

    callbacks = [
        EarlyStopping(monitor='val_loss', patience=10, verbose=0),
        ReduceLROnPlateau(monitor='val_loss', factor=0.1, patience=7, verbose=1, min_delta=1e-4, mode='min')
        ]
    
    #smaller batch size runs faster
    #batch_size = 65536
    batch_size = 8192

    model.fit(X_train, y - y_mean, batch_size = batch_size, epochs = N_EPOCHS, verbose=2,
               sample_weight=sample_weights, validation_data=(xv,yv-y_mean), callbacks=callbacks )
    val_pred.append(model.predict(X_val)+y_mean)
    test_pred.append(model.predict(X_test)+y_mean)

==================================================
Step 1
==================================================
Train on 670060 samples, validate on 167515 samples
Epoch 1/2000
 - 20s - loss: 0.4925 - mse: 0.4638 - val_loss: 0.3851 - val_mse: 0.3851
Epoch 2/2000
 - 18s - loss: 0.3548 - mse: 0.3347 - val_loss: 0.3368 - val_mse: 0.3368
Epoch 3/2000
 - 18s - loss: 0.3387 - mse: 0.3199 - val_loss: 0.3299 - val_mse: 0.3299
Epoch 4/2000
 - 18s - loss: 0.3302 - mse: 0.3121 - val_loss: 0.3228 - val_mse: 0.3228
Epoch 5/2000
 - 18s - loss: 0.3247 - mse: 0.3071 - val_loss: 0.3210 - val_mse: 0.3210
Epoch 6/2000
 - 18s - loss: 0.3207 - mse: 0.3033 - val_loss: 0.3186 - val_mse: 0.3186
Epoch 7/2000
 - 18s - loss: 0.3175 - mse: 0.3004 - val_loss: 0.3190 - val_mse: 0.3190
Epoch 8/2000
 - 18s - loss: 0.3145 - mse: 0.2977 - val_loss: 0.3191 - val_mse: 0.3191
Epoch 9/2000
 - 18s - loss: 0.3122 - mse: 0.2955 - val_loss: 0.3201 - val_mse: 0.3201
Epoch 10/2000
 - 18s - loss: 0.3099 - mse: 0.2934 - val_loss: 0.3210 - val_mse: 0.3210
Epoch 11/2000
 - 18s - loss: 0.3075 - mse: 0.2912 - val_loss: 0.3210 - val_mse: 0.3210
Epoch 12/2000
 - 18s - loss: 0.3057 - mse: 0.2895 - val_loss: 0.3237 - val_mse: 0.3237
Epoch 13/2000
 - 18s - loss: 0.3037 - mse: 0.2876 - val_loss: 0.3216 - val_mse: 0.3216

Epoch 00013: ReduceLROnPlateau reducing learning rate to 0.00010000000474974513.
Epoch 14/2000
 - 18s - loss: 0.2940 - mse: 0.2787 - val_loss: 0.3192 - val_mse: 0.3192
Epoch 15/2000
 - 18s - loss: 0.2904 - mse: 0.2754 - val_loss: 0.3198 - val_mse: 0.3198
Epoch 16/2000
 - 18s - loss: 0.2890 - mse: 0.2741 - val_loss: 0.3210 - val_mse: 0.3210
==================================================
Step 2
==================================================
Train on 670060 samples, validate on 167515 samples
Epoch 1/2000
 - 19s - loss: 0.4974 - mse: 0.4690 - val_loss: 0.3878 - val_mse: 0.3878
Epoch 2/2000
 - 18s - loss: 0.3550 - mse: 0.3366 - val_loss: 0.3336 - val_mse: 0.3336
Epoch 3/2000
 - 18s - loss: 0.3380 - mse: 0.3212 - val_loss: 0.3232 - val_mse: 0.3232
Epoch 4/2000
 - 18s - loss: 0.3295 - mse: 0.3134 - val_loss: 0.3208 - val_mse: 0.3208
Epoch 5/2000
 - 18s - loss: 0.3241 - mse: 0.3084 - val_loss: 0.3179 - val_mse: 0.3179
Epoch 6/2000
 - 18s - loss: 0.3198 - mse: 0.3045 - val_loss: 0.3173 - val_mse: 0.3173
Epoch 7/2000
 - 19s - loss: 0.3166 - mse: 0.3014 - val_loss: 0.3154 - val_mse: 0.3154
Epoch 8/2000
 - 18s - loss: 0.3136 - mse: 0.2986 - val_loss: 0.3188 - val_mse: 0.3188
Epoch 9/2000
 - 18s - loss: 0.3113 - mse: 0.2965 - val_loss: 0.3179 - val_mse: 0.3179
Epoch 10/2000
 - 18s - loss: 0.3090 - mse: 0.2943 - val_loss: 0.3183 - val_mse: 0.3183
Epoch 11/2000
 - 18s - loss: 0.3070 - mse: 0.2924 - val_loss: 0.3183 - val_mse: 0.3183
Epoch 12/2000
 - 18s - loss: 0.3054 - mse: 0.2910 - val_loss: 0.3197 - val_mse: 0.3197
Epoch 13/2000
 - 18s - loss: 0.3031 - mse: 0.2889 - val_loss: 0.3201 - val_mse: 0.3201
Epoch 14/2000
 - 18s - loss: 0.3016 - mse: 0.2874 - val_loss: 0.3220 - val_mse: 0.3220

Epoch 00014: ReduceLROnPlateau reducing learning rate to 0.00010000000474974513.
Epoch 15/2000
 - 18s - loss: 0.2920 - mse: 0.2786 - val_loss: 0.3182 - val_mse: 0.3182
Epoch 16/2000
 - 18s - loss: 0.2885 - mse: 0.2753 - val_loss: 0.3196 - val_mse: 0.3196
Epoch 17/2000
 - 18s - loss: 0.2872 - mse: 0.2741 - val_loss: 0.3198 - val_mse: 0.3198
==================================================
Step 3
==================================================
Train on 670060 samples, validate on 167515 samples
Epoch 1/2000
 - 20s - loss: 0.5387 - mse: 0.5084 - val_loss: 0.4517 - val_mse: 0.4517
Epoch 2/2000
 - 18s - loss: 0.3814 - mse: 0.3603 - val_loss: 0.3744 - val_mse: 0.3744
Epoch 3/2000
 - 18s - loss: 0.3666 - mse: 0.3465 - val_loss: 0.3557 - val_mse: 0.3557
Epoch 4/2000
 - 18s - loss: 0.3578 - mse: 0.3383 - val_loss: 0.3503 - val_mse: 0.3503
Epoch 5/2000
 - 18s - loss: 0.3518 - mse: 0.3327 - val_loss: 0.3485 - val_mse: 0.3485
Epoch 6/2000
 - 18s - loss: 0.3476 - mse: 0.3288 - val_loss: 0.3494 - val_mse: 0.3494
Epoch 7/2000
 - 18s - loss: 0.3433 - mse: 0.3248 - val_loss: 0.3496 - val_mse: 0.3496
Epoch 8/2000
 - 18s - loss: 0.3401 - mse: 0.3218 - val_loss: 0.3489 - val_mse: 0.3489
Epoch 9/2000
 - 18s - loss: 0.3373 - mse: 0.3192 - val_loss: 0.3505 - val_mse: 0.3505
Epoch 10/2000
 - 18s - loss: 0.3350 - mse: 0.3171 - val_loss: 0.3505 - val_mse: 0.3505
Epoch 11/2000
 - 18s - loss: 0.3329 - mse: 0.3151 - val_loss: 0.3496 - val_mse: 0.3496
Epoch 12/2000
 - 18s - loss: 0.3304 - mse: 0.3127 - val_loss: 0.3513 - val_mse: 0.3513

Epoch 00012: ReduceLROnPlateau reducing learning rate to 0.00010000000474974513.
Epoch 13/2000
 - 18s - loss: 0.3198 - mse: 0.3029 - val_loss: 0.3485 - val_mse: 0.3485
Epoch 14/2000
 - 18s - loss: 0.3162 - mse: 0.2996 - val_loss: 0.3498 - val_mse: 0.3498
Epoch 15/2000
 - 18s - loss: 0.3148 - mse: 0.2983 - val_loss: 0.3510 - val_mse: 0.3510
Epoch 16/2000
 - 18s - loss: 0.3137 - mse: 0.2973 - val_loss: 0.3514 - val_mse: 0.3514
Epoch 17/2000
 - 18s - loss: 0.3128 - mse: 0.2965 - val_loss: 0.3532 - val_mse: 0.3532
Epoch 18/2000
 - 18s - loss: 0.3119 - mse: 0.2957 - val_loss: 0.3537 - val_mse: 0.3537
Epoch 19/2000
 - 18s - loss: 0.3111 - mse: 0.2949 - val_loss: 0.3546 - val_mse: 0.3546

Epoch 00019: ReduceLROnPlateau reducing learning rate to 1.0000000474974514e-05.
Epoch 20/2000
 - 18s - loss: 0.3087 - mse: 0.2927 - val_loss: 0.3553 - val_mse: 0.3553
Epoch 21/2000
 - 18s - loss: 0.3085 - mse: 0.2925 - val_loss: 0.3557 - val_mse: 0.3557
Epoch 22/2000
 - 18s - loss: 0.3085 - mse: 0.2925 - val_loss: 0.3559 - val_mse: 0.3559
Epoch 23/2000
 - 18s - loss: 0.3084 - mse: 0.2924 - val_loss: 0.3561 - val_mse: 0.3561
==================================================
Step 4
==================================================
Train on 670060 samples, validate on 167515 samples
Epoch 1/2000
 - 19s - loss: 0.5024 - mse: 0.4735 - val_loss: 0.4848 - val_mse: 0.4848
Epoch 2/2000
 - 18s - loss: 0.3747 - mse: 0.3551 - val_loss: 0.3765 - val_mse: 0.3765
Epoch 3/2000
 - 18s - loss: 0.3592 - mse: 0.3410 - val_loss: 0.3600 - val_mse: 0.3600
Epoch 4/2000
 - 18s - loss: 0.3512 - mse: 0.3335 - val_loss: 0.3539 - val_mse: 0.3539
Epoch 5/2000
 - 18s - loss: 0.3455 - mse: 0.3283 - val_loss: 0.3465 - val_mse: 0.3465
Epoch 6/2000
 - 18s - loss: 0.3409 - mse: 0.3240 - val_loss: 0.3469 - val_mse: 0.3469
Epoch 7/2000
 - 18s - loss: 0.3377 - mse: 0.3209 - val_loss: 0.3483 - val_mse: 0.3483
Epoch 8/2000
 - 18s - loss: 0.3345 - mse: 0.3180 - val_loss: 0.3490 - val_mse: 0.3490
Epoch 9/2000
 - 18s - loss: 0.3314 - mse: 0.3151 - val_loss: 0.3488 - val_mse: 0.3488
Epoch 10/2000
 - 18s - loss: 0.3291 - mse: 0.3129 - val_loss: 0.3510 - val_mse: 0.3510
Epoch 11/2000
 - 18s - loss: 0.3267 - mse: 0.3107 - val_loss: 0.3490 - val_mse: 0.3490
Epoch 12/2000
 - 18s - loss: 0.3243 - mse: 0.3085 - val_loss: 0.3469 - val_mse: 0.3469

Epoch 00012: ReduceLROnPlateau reducing learning rate to 0.00010000000474974513.
Epoch 13/2000
 - 18s - loss: 0.3135 - mse: 0.2985 - val_loss: 0.3457 - val_mse: 0.3457
Epoch 14/2000
 - 18s - loss: 0.3095 - mse: 0.2948 - val_loss: 0.3473 - val_mse: 0.3473
Epoch 15/2000
 - 18s - loss: 0.3081 - mse: 0.2934 - val_loss: 0.3477 - val_mse: 0.3477
Epoch 16/2000
 - 18s - loss: 0.3070 - mse: 0.2924 - val_loss: 0.3490 - val_mse: 0.3490
Epoch 17/2000
 - 18s - loss: 0.3060 - mse: 0.2915 - val_loss: 0.3503 - val_mse: 0.3503
Epoch 18/2000
 - 18s - loss: 0.3051 - mse: 0.2907 - val_loss: 0.3507 - val_mse: 0.3507
Epoch 19/2000
 - 18s - loss: 0.3043 - mse: 0.2900 - val_loss: 0.3522 - val_mse: 0.3522
Epoch 20/2000
 - 18s - loss: 0.3035 - mse: 0.2892 - val_loss: 0.3523 - val_mse: 0.3523

Epoch 00020: ReduceLROnPlateau reducing learning rate to 1.0000000474974514e-05.
Epoch 21/2000
 - 18s - loss: 0.3011 - mse: 0.2870 - val_loss: 0.3535 - val_mse: 0.3535
Epoch 22/2000
 - 18s - loss: 0.3007 - mse: 0.2866 - val_loss: 0.3541 - val_mse: 0.3541
Epoch 23/2000
 - 19s - loss: 0.3008 - mse: 0.2867 - val_loss: 0.3545 - val_mse: 0.3545
==================================================
Step 5
==================================================
Train on 670060 samples, validate on 167515 samples
Epoch 1/2000
 - 37s - loss: 0.5008 - mse: 0.4724 - val_loss: 0.4761 - val_mse: 0.4761
Epoch 2/2000
 - 20s - loss: 0.3953 - mse: 0.3739 - val_loss: 0.3862 - val_mse: 0.3862
Epoch 3/2000
 - 20s - loss: 0.3821 - mse: 0.3616 - val_loss: 0.3696 - val_mse: 0.3696
Epoch 4/2000
 - 21s - loss: 0.3740 - mse: 0.3540 - val_loss: 0.3683 - val_mse: 0.3683
Epoch 5/2000
 - 25s - loss: 0.3680 - mse: 0.3485 - val_loss: 0.3634 - val_mse: 0.3634
Epoch 6/2000
 - 24s - loss: 0.3638 - mse: 0.3445 - val_loss: 0.3629 - val_mse: 0.3629
Epoch 7/2000
 - 26s - loss: 0.3592 - mse: 0.3403 - val_loss: 0.3631 - val_mse: 0.3631
Epoch 8/2000
 - 24s - loss: 0.3559 - mse: 0.3372 - val_loss: 0.3645 - val_mse: 0.3645
Epoch 9/2000
 - 24s - loss: 0.3529 - mse: 0.3344 - val_loss: 0.3667 - val_mse: 0.3667
Epoch 10/2000
 - 28s - loss: 0.3503 - mse: 0.3320 - val_loss: 0.3712 - val_mse: 0.3712
Epoch 11/2000
 - 27s - loss: 0.3477 - mse: 0.3297 - val_loss: 0.3692 - val_mse: 0.3692
Epoch 12/2000
 - 28s - loss: 0.3450 - mse: 0.3271 - val_loss: 0.3722 - val_mse: 0.3722
Epoch 13/2000
 - 27s - loss: 0.3422 - mse: 0.3246 - val_loss: 0.3723 - val_mse: 0.3723

Epoch 00013: ReduceLROnPlateau reducing learning rate to 0.00010000000474974513.
Epoch 14/2000
 - 27s - loss: 0.3304 - mse: 0.3136 - val_loss: 0.3681 - val_mse: 0.3681
Epoch 15/2000
 - 24s - loss: 0.3260 - mse: 0.3095 - val_loss: 0.3697 - val_mse: 0.3697
Epoch 16/2000
 - 25s - loss: 0.3243 - mse: 0.3079 - val_loss: 0.3720 - val_mse: 0.3720
==================================================
Step 6
==================================================
Train on 670060 samples, validate on 167515 samples
Epoch 1/2000
 - 37s - loss: 0.5251 - mse: 0.4955 - val_loss: 0.4381 - val_mse: 0.4381
Epoch 2/2000
 - 74s - loss: 0.4072 - mse: 0.3852 - val_loss: 0.3910 - val_mse: 0.3910
Epoch 3/2000
 - 45s - loss: 0.3920 - mse: 0.3711 - val_loss: 0.3831 - val_mse: 0.3831
Epoch 4/2000
 - 35s - loss: 0.3830 - mse: 0.3627 - val_loss: 0.3776 - val_mse: 0.3776
Epoch 5/2000
 - 29s - loss: 0.3767 - mse: 0.3569 - val_loss: 0.3734 - val_mse: 0.3734
Epoch 6/2000
 - 30s - loss: 0.3714 - mse: 0.3520 - val_loss: 0.3744 - val_mse: 0.3744
Epoch 7/2000
 - 73s - loss: 0.3671 - mse: 0.3479 - val_loss: 0.3729 - val_mse: 0.3729
Epoch 8/2000
 - 45s - loss: 0.3634 - mse: 0.3445 - val_loss: 0.3725 - val_mse: 0.3725
Epoch 9/2000
 - 28s - loss: 0.3604 - mse: 0.3417 - val_loss: 0.3737 - val_mse: 0.3737
Epoch 10/2000
 - 25s - loss: 0.3570 - mse: 0.3386 - val_loss: 0.3749 - val_mse: 0.3749
Epoch 11/2000
 - 23s - loss: 0.3541 - mse: 0.3360 - val_loss: 0.3766 - val_mse: 0.3766
Epoch 12/2000
 - 23s - loss: 0.3514 - mse: 0.3334 - val_loss: 0.3776 - val_mse: 0.3776
Epoch 13/2000
 - 66s - loss: 0.3493 - mse: 0.3314 - val_loss: 0.3794 - val_mse: 0.3794
Epoch 14/2000
 - 38s - loss: 0.3467 - mse: 0.3291 - val_loss: 0.3848 - val_mse: 0.3848
Epoch 15/2000
 - 31s - loss: 0.3444 - mse: 0.3270 - val_loss: 0.3855 - val_mse: 0.3855

Epoch 00015: ReduceLROnPlateau reducing learning rate to 0.00010000000474974513.
Epoch 16/2000
 - 24s - loss: 0.3305 - mse: 0.3141 - val_loss: 0.3798 - val_mse: 0.3798
Epoch 17/2000
 - 24s - loss: 0.3257 - mse: 0.3096 - val_loss: 0.3816 - val_mse: 0.3816
Epoch 18/2000
 - 24s - loss: 0.3237 - mse: 0.3078 - val_loss: 0.3830 - val_mse: 0.3830
==================================================
Step 7
==================================================
Train on 670060 samples, validate on 167515 samples
Epoch 1/2000
 - 22s - loss: 0.5794 - mse: 0.5456 - val_loss: 0.4437 - val_mse: 0.4437
Epoch 2/2000
 - 20s - loss: 0.4070 - mse: 0.3837 - val_loss: 0.3883 - val_mse: 0.3883
Epoch 3/2000
 - 21s - loss: 0.3890 - mse: 0.3669 - val_loss: 0.3766 - val_mse: 0.3766
Epoch 4/2000
 - 21s - loss: 0.3788 - mse: 0.3574 - val_loss: 0.3738 - val_mse: 0.3738
Epoch 5/2000
 - 21s - loss: 0.3726 - mse: 0.3516 - val_loss: 0.3718 - val_mse: 0.3718
Epoch 6/2000
 - 20s - loss: 0.3679 - mse: 0.3473 - val_loss: 0.3718 - val_mse: 0.3718
Epoch 7/2000
 - 20s - loss: 0.3637 - mse: 0.3434 - val_loss: 0.3726 - val_mse: 0.3726
Epoch 8/2000
 - 20s - loss: 0.3602 - mse: 0.3402 - val_loss: 0.3726 - val_mse: 0.3726
Epoch 9/2000
 - 23s - loss: 0.3570 - mse: 0.3372 - val_loss: 0.3747 - val_mse: 0.3747
Epoch 10/2000
 - 22s - loss: 0.3543 - mse: 0.3347 - val_loss: 0.3734 - val_mse: 0.3734
Epoch 11/2000
 - 22s - loss: 0.3517 - mse: 0.3323 - val_loss: 0.3738 - val_mse: 0.3738
Epoch 12/2000
 - 21s - loss: 0.3493 - mse: 0.3301 - val_loss: 0.3758 - val_mse: 0.3758

Epoch 00012: ReduceLROnPlateau reducing learning rate to 0.00010000000474974513.
Epoch 13/2000
 - 20s - loss: 0.3386 - mse: 0.3202 - val_loss: 0.3741 - val_mse: 0.3741
Epoch 14/2000
 - 21s - loss: 0.3349 - mse: 0.3169 - val_loss: 0.3749 - val_mse: 0.3749
Epoch 15/2000
 - 20s - loss: 0.3334 - mse: 0.3155 - val_loss: 0.3757 - val_mse: 0.3757
Epoch 16/2000
 - 21s - loss: 0.3324 - mse: 0.3146 - val_loss: 0.3763 - val_mse: 0.3763
==================================================
Step 8
==================================================
Train on 670060 samples, validate on 167515 samples
Epoch 1/2000
 - 46s - loss: 0.5471 - mse: 0.5163 - val_loss: 0.4420 - val_mse: 0.4420
Epoch 2/2000
 - 59s - loss: 0.3899 - mse: 0.3682 - val_loss: 0.3755 - val_mse: 0.3755
Epoch 3/2000
 - 26s - loss: 0.3732 - mse: 0.3530 - val_loss: 0.3656 - val_mse: 0.3656
Epoch 4/2000
 - 24s - loss: 0.3643 - mse: 0.3449 - val_loss: 0.3616 - val_mse: 0.3616
Epoch 5/2000
 - 28s - loss: 0.3583 - mse: 0.3393 - val_loss: 0.3611 - val_mse: 0.3611
Epoch 6/2000
 - 34s - loss: 0.3536 - mse: 0.3351 - val_loss: 0.3609 - val_mse: 0.3609
Epoch 7/2000
 - 46s - loss: 0.3499 - mse: 0.3316 - val_loss: 0.3611 - val_mse: 0.3611
Epoch 8/2000
 - 65s - loss: 0.3467 - mse: 0.3287 - val_loss: 0.3613 - val_mse: 0.3613
Epoch 9/2000
 - 28s - loss: 0.3439 - mse: 0.3260 - val_loss: 0.3626 - val_mse: 0.3626
Epoch 10/2000
 - 24s - loss: 0.3414 - mse: 0.3237 - val_loss: 0.3613 - val_mse: 0.3613
Epoch 11/2000
 - 23s - loss: 0.3389 - mse: 0.3214 - val_loss: 0.3626 - val_mse: 0.3626
Epoch 12/2000
 - 23s - loss: 0.3367 - mse: 0.3194 - val_loss: 0.3626 - val_mse: 0.3626
Epoch 13/2000
 - 23s - loss: 0.3347 - mse: 0.3175 - val_loss: 0.3651 - val_mse: 0.3651

Epoch 00013: ReduceLROnPlateau reducing learning rate to 0.00010000000474974513.
Epoch 14/2000
 - 27s - loss: 0.3236 - mse: 0.3073 - val_loss: 0.3635 - val_mse: 0.3635
Epoch 15/2000
 - 32s - loss: 0.3204 - mse: 0.3043 - val_loss: 0.3635 - val_mse: 0.3635
Epoch 16/2000
 - 40s - loss: 0.3190 - mse: 0.3030 - val_loss: 0.3642 - val_mse: 0.3642
==================================================
Step 9
==================================================
Train on 670060 samples, validate on 167515 samples
Epoch 1/2000
 - 22s - loss: 0.5427 - mse: 0.5113 - val_loss: 0.5250 - val_mse: 0.5250
Epoch 2/2000
 - 20s - loss: 0.3797 - mse: 0.3601 - val_loss: 0.3860 - val_mse: 0.3860
Epoch 3/2000
 - 20s - loss: 0.3601 - mse: 0.3424 - val_loss: 0.3619 - val_mse: 0.3619
Epoch 4/2000
 - 20s - loss: 0.3502 - mse: 0.3334 - val_loss: 0.3573 - val_mse: 0.3573
Epoch 5/2000
 - 20s - loss: 0.3439 - mse: 0.3275 - val_loss: 0.3544 - val_mse: 0.3544
Epoch 6/2000
 - 20s - loss: 0.3395 - mse: 0.3235 - val_loss: 0.3530 - val_mse: 0.3530
Epoch 7/2000
 - 21s - loss: 0.3357 - mse: 0.3200 - val_loss: 0.3537 - val_mse: 0.3537
Epoch 8/2000
 - 26s - loss: 0.3324 - mse: 0.3170 - val_loss: 0.3541 - val_mse: 0.3541
Epoch 9/2000
 - 29s - loss: 0.3301 - mse: 0.3148 - val_loss: 0.3543 - val_mse: 0.3543
Epoch 10/2000
 - 28s - loss: 0.3275 - mse: 0.3123 - val_loss: 0.3568 - val_mse: 0.3568
Epoch 11/2000
 - 22s - loss: 0.3255 - mse: 0.3104 - val_loss: 0.3552 - val_mse: 0.3552
Epoch 12/2000
 - 21s - loss: 0.3230 - mse: 0.3081 - val_loss: 0.3551 - val_mse: 0.3551
Epoch 13/2000
 - 21s - loss: 0.3212 - mse: 0.3064 - val_loss: 0.3577 - val_mse: 0.3577

Epoch 00013: ReduceLROnPlateau reducing learning rate to 0.00010000000474974513.
Epoch 14/2000
 - 20s - loss: 0.3107 - mse: 0.2967 - val_loss: 0.3533 - val_mse: 0.3533
Epoch 15/2000
 - 20s - loss: 0.3072 - mse: 0.2934 - val_loss: 0.3539 - val_mse: 0.3539
Epoch 16/2000
 - 20s - loss: 0.3059 - mse: 0.2923 - val_loss: 0.3547 - val_mse: 0.3547
==================================================
Step 10
==================================================
Train on 670060 samples, validate on 167515 samples
Epoch 1/2000
 - 21s - loss: 0.5798 - mse: 0.5454 - val_loss: 0.4385 - val_mse: 0.4385
Epoch 2/2000
 - 20s - loss: 0.3901 - mse: 0.3685 - val_loss: 0.3906 - val_mse: 0.3906
Epoch 3/2000
 - 21s - loss: 0.3717 - mse: 0.3513 - val_loss: 0.3764 - val_mse: 0.3764
Epoch 4/2000
 - 25s - loss: 0.3625 - mse: 0.3427 - val_loss: 0.3720 - val_mse: 0.3720
Epoch 5/2000
 - 30s - loss: 0.3561 - mse: 0.3368 - val_loss: 0.3708 - val_mse: 0.3708
Epoch 6/2000
 - 35s - loss: 0.3514 - mse: 0.3324 - val_loss: 0.3711 - val_mse: 0.3711
Epoch 7/2000
 - 22s - loss: 0.3478 - mse: 0.3291 - val_loss: 0.3733 - val_mse: 0.3733
Epoch 8/2000
 - 23s - loss: 0.3445 - mse: 0.3260 - val_loss: 0.3693 - val_mse: 0.3693
Epoch 9/2000
 - 21s - loss: 0.3416 - mse: 0.3233 - val_loss: 0.3708 - val_mse: 0.3708
Epoch 10/2000
 - 22s - loss: 0.3388 - mse: 0.3208 - val_loss: 0.3721 - val_mse: 0.3721
Epoch 11/2000
 - 21s - loss: 0.3365 - mse: 0.3186 - val_loss: 0.3709 - val_mse: 0.3709
Epoch 12/2000
 - 22s - loss: 0.3343 - mse: 0.3166 - val_loss: 0.3722 - val_mse: 0.3722
Epoch 13/2000
 - 22s - loss: 0.3323 - mse: 0.3147 - val_loss: 0.3718 - val_mse: 0.3718
Epoch 14/2000
 - 23s - loss: 0.3304 - mse: 0.3129 - val_loss: 0.3734 - val_mse: 0.3734
Epoch 15/2000
 - 21s - loss: 0.3287 - mse: 0.3114 - val_loss: 0.3754 - val_mse: 0.3754

Epoch 00015: ReduceLROnPlateau reducing learning rate to 0.00010000000474974513.
Epoch 16/2000
 - 22s - loss: 0.3176 - mse: 0.3011 - val_loss: 0.3727 - val_mse: 0.3727
Epoch 17/2000
 - 22s - loss: 0.3134 - mse: 0.2972 - val_loss: 0.3735 - val_mse: 0.3735
Epoch 18/2000
 - 22s - loss: 0.3119 - mse: 0.2958 - val_loss: 0.3735 - val_mse: 0.3735
==================================================
Step 11
==================================================
Train on 670060 samples, validate on 167515 samples
Epoch 1/2000
 - 25s - loss: 0.4740 - mse: 0.4471 - val_loss: 0.4333 - val_mse: 0.4333
Epoch 2/2000
 - 22s - loss: 0.3791 - mse: 0.3595 - val_loss: 0.3771 - val_mse: 0.3771
Epoch 3/2000
 - 21s - loss: 0.3635 - mse: 0.3452 - val_loss: 0.3669 - val_mse: 0.3669
Epoch 4/2000
 - 21s - loss: 0.3550 - mse: 0.3374 - val_loss: 0.3635 - val_mse: 0.3635
Epoch 5/2000
 - 21s - loss: 0.3497 - mse: 0.3325 - val_loss: 0.3616 - val_mse: 0.3616
Epoch 6/2000
 - 21s - loss: 0.3456 - mse: 0.3288 - val_loss: 0.3630 - val_mse: 0.3630
Epoch 7/2000
 - 25s - loss: 0.3420 - mse: 0.3254 - val_loss: 0.3645 - val_mse: 0.3645
Epoch 8/2000
 - 20s - loss: 0.3390 - mse: 0.3226 - val_loss: 0.3633 - val_mse: 0.3633
Epoch 9/2000
 - 19s - loss: 0.3355 - mse: 0.3193 - val_loss: 0.3658 - val_mse: 0.3658
Epoch 10/2000
 - 20s - loss: 0.3332 - mse: 0.3172 - val_loss: 0.3660 - val_mse: 0.3660
Epoch 11/2000
 - 20s - loss: 0.3307 - mse: 0.3148 - val_loss: 0.3649 - val_mse: 0.3649
Epoch 12/2000
 - 19s - loss: 0.3285 - mse: 0.3128 - val_loss: 0.3691 - val_mse: 0.3691

Epoch 00012: ReduceLROnPlateau reducing learning rate to 0.00010000000474974513.
Epoch 13/2000
 - 20s - loss: 0.3170 - mse: 0.3021 - val_loss: 0.3656 - val_mse: 0.3656
Epoch 14/2000
 - 19s - loss: 0.3129 - mse: 0.2983 - val_loss: 0.3671 - val_mse: 0.3671
Epoch 15/2000
 - 19s - loss: 0.3110 - mse: 0.2965 - val_loss: 0.3685 - val_mse: 0.3685
==================================================
Step 12
==================================================
Train on 670060 samples, validate on 167515 samples
Epoch 1/2000
 - 36s - loss: 0.5439 - mse: 0.5138 - val_loss: 0.4777 - val_mse: 0.4777
Epoch 2/2000
 - 28s - loss: 0.4192 - mse: 0.3968 - val_loss: 0.4212 - val_mse: 0.4212
Epoch 3/2000

In [63]:
print('finished')

finished

In [64]:
weight = items["perishable"] * 0.25 + 1
val_err = (y_val - np.array(val_pred).squeeze(axis=2).transpose())**2
val_err = val_err.sum(axis=1) * weight
#change to 15 days
val_err = np.sqrt(val_err.sum() / weight.sum() / 15)
print('nwrmsle = {}'.format(val_err))

nwrmsle = 0.6099957913412681

In [65]:
test_err = (y_test - np.array(test_pred).squeeze(axis=2).transpose())**2
test_err = test_err.sum(axis=1) * weight
#change to 15 days
test_err = np.sqrt(test_err.sum() / weight.sum() / 15)
print('nwrmsle = {}'.format(test_err))

nwrmsle = 0.6223143411577241

In [87]:
df_2017_index = pd.read_csv('../derived_datasets/df_2017_index.csv',header=None)

In [88]:
df_2017_index = df_2017_index.set_index([0,1]).index

In [89]:
df_2017_index.rename(['store_nbr','item_nbr'],inplace=True)

In [90]:
df_pred_test = pd.DataFrame(np.array(test_pred).squeeze(axis=2).transpose(), 
                            index = df_2017_index, columns = pd.date_range('2017-08-01',periods=15))

In [91]:
df_pred_test.to_csv('../derived_datasets/nn_test_pred_model_3.csv')