### Reference Dates

Num Training Weeks = 4  
Num Test/Val Days = 15

- Train: 5/30/2017 (Tues), 6/6/2017,6/13/2017,6/20/2017  
- Val: 7/11/2017 (Tues) - 7/25/2017 (Wed)  
- Test: 8/1/2017 (Tues)  - 8/15/2017 (Wed)

In [1]:
from tqdm import tqdm

In [2]:
from datetime import date, timedelta
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from keras.models import Sequential
from keras.layers.core import Dense, Dropout, Activation
from keras.layers.advanced_activations import PReLU
from keras.layers.normalization import BatchNormalization
from keras.layers import LSTM
from keras import callbacks
from keras import optimizers
from keras.callbacks import ModelCheckpoint, EarlyStopping, ReduceLROnPlateau
import gc

Using TensorFlow backend.

In [67]:
df_train = pd.read_csv(
    '../input/train.csv', usecols=[1, 2, 3, 4, 5],
    dtype={'onpromotion': bool},
    converters={'unit_sales': lambda u: np.log1p(
        float(u)) if float(u) > 0 else 0},
    parse_dates=["date"],
    skiprows=range(1, 66458909)  # 2016-01-01
)

df_test = pd.read_csv(
    "../input/test.csv", usecols=[0, 1, 2, 3, 4],
    dtype={'onpromotion': bool},
    parse_dates=["date"]  # , date_parser=parser
).set_index(
    ['store_nbr', 'item_nbr', 'date']
)

In [4]:
items = pd.read_csv(
    "../input/items.csv",
).set_index("item_nbr")

stores = pd.read_csv(
    "../input/stores.csv",
).set_index("store_nbr")

In [5]:
items.head()

                family  class  perishable
item_nbr
96995        GROCERY I   1093           0
99197        GROCERY I   1067           0
103501        CLEANING   3008           0
103520       GROCERY I   1028           0
103665    BREAD/BAKERY   2712           1

In [6]:
stores.head()

                    city                           state type  cluster
store_nbr
1                  Quito                       Pichincha    D       13
2                  Quito                       Pichincha    D       13
3                  Quito                       Pichincha    D        8
4                  Quito                       Pichincha    D        9
5          Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [68]:
df_2017 = df_train.loc[df_train.date>=pd.datetime(2017,1,1)]
del df_train
gc.collect()

147226

In [69]:
df_2017.head()

               date  store_nbr  item_nbr  unit_sales  onpromotion
35229871 2017-01-01         25     99197    0.693147        False
35229872 2017-01-01         25    103665    2.079442        False
35229873 2017-01-01         25    105574    0.693147        False
35229874 2017-01-01         25    105857    1.609438        False
35229875 2017-01-01         25    106716    1.098612        False

In [9]:
promo_2017_train = df_2017.set_index(
    ["store_nbr", "item_nbr", "date"])[["onpromotion"]].unstack(
        level=-1).fillna(False)
promo_2017_train.columns = promo_2017_train.columns.get_level_values(1)
promo_2017_test = df_test[["onpromotion"]].unstack(level=-1).fillna(False)
promo_2017_test.columns = promo_2017_test.columns.get_level_values(1)
promo_2017_test = promo_2017_test.reindex(promo_2017_train.index).fillna(False)
promo_2017 = pd.concat([promo_2017_train, promo_2017_test], axis=1)
del promo_2017_test, promo_2017_train, df_test
gc.collect()

0

In [10]:
promo_2017.head()

date                2017-01-01  2017-01-02  2017-01-03  2017-01-04  \
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103520         False       False       False       False
          103665         False       False       False       False
          105574         False       False        True       False

date                2017-01-05  2017-01-06  2017-01-07  2017-01-08  \
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103520         False       False       False       False
          103665         False       False       False       False
          105574         False        True       False       False

date                2017-01-09  2017-01-10  ...  2017-08-22  2017-08-23  \
store_nbr item_nbr                          ...
1         96995          False       False  ...       False       False
          99197          False       False  ...       False       False
          103520         False       False  ...       False       False
          103665         False       False  ...       False       False
          105574         False       False  ...       False       False

date                2017-08-24  2017-08-25  2017-08-26  2017-08-27  \
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103520         False       False       False       False
          103665         False       False       False       False
          105574         False       False       False       False

date                2017-08-28  2017-08-29  2017-08-30  2017-08-31
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103520         False       False       False       False
          103665         False       False       False       False
          105574         False       False       False       False

[5 rows x 243 columns]

In [70]:
df_2017 = df_2017.set_index(
    ["store_nbr", "item_nbr", "date"])[["unit_sales"]].unstack(
        level=-1).fillna(0)
df_2017.columns = df_2017.columns.get_level_values(1)

In [71]:
df_2017_index = df_2017.index

In [88]:
df_2017.to_csv('../derived_datasets/df_2017_index.csv', columns = [], header=None)

In [12]:
df_2017.head()

date                2017-01-01  2017-01-02  2017-01-03  2017-01-04  \
store_nbr item_nbr
1         96995            0.0    0.000000    0.000000    0.000000
          99197            0.0    0.000000    1.386294    0.693147
          103520           0.0    0.693147    1.098612    0.000000
          103665           0.0    0.000000    0.000000    1.386294
          105574           0.0    0.000000    1.791759    2.564949

date                2017-01-05  2017-01-06  2017-01-07  2017-01-08  \
store_nbr item_nbr
1         96995       0.000000    0.000000    0.000000    0.000000
          99197       0.693147    0.693147    1.098612    0.000000
          103520      1.098612    1.386294    0.693147    0.000000
          103665      1.098612    1.098612    0.693147    1.098612
          105574      2.302585    1.945910    1.609438    1.098612

date                2017-01-09  2017-01-10  ...  2017-08-06  2017-08-07  \
store_nbr item_nbr                          ...
1         96995       0.000000    0.000000  ...    1.098612    1.098612
          99197       0.000000    0.693147  ...    0.000000    1.098612
          103520      0.693147    0.693147  ...    0.000000    0.000000
          103665      0.000000    2.079442  ...    0.693147    1.098612
          105574      1.386294    2.302585  ...    0.000000    1.791759

date                2017-08-08  2017-08-09  2017-08-10  2017-08-11  \
store_nbr item_nbr
1         96995       0.000000    0.000000    0.693147    0.000000
          99197       0.000000    1.098612    0.000000    0.000000
          103520      1.386294    0.000000    1.386294    0.693147
          103665      0.000000    2.079442    2.302585    1.098612
          105574      2.079442    1.945910    2.397895    1.791759

date                2017-08-12  2017-08-13  2017-08-14  2017-08-15
store_nbr item_nbr
1         96995       0.000000    0.000000    0.000000    0.000000
          99197       0.000000    0.000000    0.000000    0.000000
          103520      0.693147    0.693147    0.000000    0.000000
          103665      0.000000    0.000000    0.693147    0.693147
          105574      1.791759    0.000000    1.386294    1.609438

[5 rows x 227 columns]

In [13]:
items['class'] = items['class'].astype('category')
items = pd.get_dummies(items)

In [14]:
items.head()

,perishable,family_AUTOMOTIVE,family_BABY CARE,family_BEAUTY,family_BEVERAGES,family_BOOKS,family_BREAD/BAKERY,family_CELEBRATION,family_CLEANING,family_DAIRY,...,class_6920,class_6922,class_6924,class_6936,class_6954,class_6960,class_7002,class_7016,class_7034,class_7780
item_nbr,,,,,,,,,,,,,,,,,,,,,
96995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99197,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
103501,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
103520,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
103665,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
items = items.reindex(df_2017.index.get_level_values(1))

In [16]:
items.shape

(167515, 371)

In [17]:
stores.head()

                    city                           state type  cluster
store_nbr
1                  Quito                       Pichincha    D       13
2                  Quito                       Pichincha    D       13
3                  Quito                       Pichincha    D        8
4                  Quito                       Pichincha    D        9
5          Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [18]:
stores['cluster'] = stores.cluster.astype('category')
stores = pd.get_dummies(stores)
stores = stores.reindex(df_2017.index.get_level_values(0))

In [19]:
stores.head()

,city_Ambato,city_Babahoyo,city_Cayambe,city_Cuenca,city_Daule,city_El Carmen,city_Esmeraldas,city_Guaranda,city_Guayaquil,city_Ibarra,...,cluster_8,cluster_9,cluster_10,cluster_11,cluster_12,cluster_13,cluster_14,cluster_15,cluster_16,cluster_17
store_nbr,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [20]:
stores.shape

(167515, 60)

In [21]:
#sum of sales for each item across all stores for each day
#df_2017_item = df_2017.groupby('item_nbr')[df_2017.columns].sum()

In [22]:
#sum of promotion for each item across all stores for each day
#promo_2017_item = promo_2017.groupby('item_nbr')[promo_2017.columns].sum()

In [23]:
# sum of sales in each class (multiple items) for each store for each day 
# df_2017_store_class = df_2017.reset_index()
# df_2017_store_class['class'] = items['class'].values
# df_2017_store_class_index = df_2017_store_class[['class', 'store_nbr']]
# df_2017_store_class = df_2017_store_class.groupby(['class', 'store_nbr'])[df_2017.columns].sum()

In [24]:
#df_2017_store_class_index.head()

In [25]:
#df_2017_store_class.shape

In [26]:
#df_2017_store_class.head()

In [27]:
# sum of promotions in each class (multiple items) for each store for each day 

# df_2017_promo_store_class = promo_2017.reset_index()
# df_2017_promo_store_class['class'] = items['class'].values
# df_2017_promo_store_class_index = df_2017_promo_store_class[['class', 'store_nbr']]
# df_2017_promo_store_class = df_2017_promo_store_class.groupby(['class', 'store_nbr'])[promo_2017.columns].sum()

In [28]:
def get_timespan(df, dt, minus, periods, freq='D'):
    return df[pd.date_range(dt - timedelta(days=minus), periods=periods, freq=freq)]

In [29]:
def prepare_dataset(df, promo_df, t2017, is_train=True, name_prefix=None):
    X = {
        "promo_7_2017": get_timespan(promo_df, t2017, 7, 7).sum(axis=1).values,
        "promo_14_2017": get_timespan(promo_df, t2017, 14, 14).sum(axis=1).values,
        "promo_30_2017": get_timespan(promo_df, t2017, 30, 30).sum(axis=1).values,
        "promo_3_2017_aft": get_timespan(promo_df, t2017 + timedelta(days=15), 14, 3).sum(axis=1).values,
        "promo_7_2017_aft": get_timespan(promo_df, t2017 + timedelta(days=15), 14, 7).sum(axis=1).values,
        "promo_14_2017_aft": get_timespan(promo_df, t2017 + timedelta(days=15), 14, 14).sum(axis=1).values,
    }

# Removed due to the presence of nan values 
#     for i in [3, 7, 14, 30]:
#         tmp1 = get_timespan(df, t2017, i, i)
#         tmp2 = (get_timespan(promo_df, t2017, i, i) > 0) * 1

#         X['has_promo_mean_%s' % i] = (tmp1 * tmp2.replace(0, np.nan)).mean(axis=1).values
#         X['no_promo_mean_%s' % i] = (tmp1 * (1 - tmp2).replace(0, np.nan)).mean(axis=1).values
                
        
    for i in [3, 7, 14, 30]:
        tmp = get_timespan(df, t2017, i, i)
        X['diff_%s_mean' % i] = tmp.diff(axis=1).mean(axis=1).values
        X['mean_%s' % i] = tmp.mean(axis=1).values
        X['median_%s' % i] = tmp.median(axis=1).values
        X['min_%s' % i] = tmp.min(axis=1).values
        X['max_%s' % i] = tmp.max(axis=1).values
        X['std_%s' % i] = tmp.std(axis=1).values

    for i in [7, 14, 30]:
        tmp = get_timespan(df, t2017, i, i)
        X['has_sales_days_in_last_%s' % i] = (tmp > 0).sum(axis=1).values
        X['last_has_sales_day_in_last_%s' % i] = i - ((tmp > 0) * np.arange(i)).max(axis=1).values
        X['first_has_sales_day_in_last_%s' % i] = ((tmp > 0) * np.arange(i, 0, -1)).max(axis=1).values

        tmp = get_timespan(promo_df, t2017, i, i)
        X['has_promo_days_in_last_%s' % i] = (tmp > 0).sum(axis=1).values
        X['last_has_promo_day_in_last_%s' % i] = i - ((tmp > 0) * np.arange(i)).max(axis=1).values
        X['first_has_promo_day_in_last_%s' % i] = ((tmp > 0) * np.arange(i, 0, -1)).max(axis=1).values

    tmp = get_timespan(promo_df, t2017 + timedelta(days=15), 14, 14)
    X['has_promo_days_in_after_14_days'] = (tmp > 0).sum(axis=1).values
    X['last_has_promo_day_in_after_14_days'] = i - ((tmp > 0) * np.arange(14)).max(axis=1).values
    X['first_has_promo_day_in_after_14_days'] = ((tmp > 0) * np.arange(14, 0, -1)).max(axis=1).values

    for i in range(1, 15):
        X['day_%s_2017' % i] = get_timespan(df, t2017, i, 1).values.ravel()

    for i in range(7):
        X['mean_4_dow{}_2017'.format(i)] = get_timespan(df, t2017, 28-i, 4, freq='7D').mean(axis=1).values
        X['mean_20_dow{}_2017'.format(i)] = get_timespan(df, t2017, 140-i, 20, freq='7D').mean(axis=1).values        
        
    for i in range(-14, 15):
        X["promo_{}".format(i)] = promo_df[t2017 + timedelta(days=i)].values.astype(np.uint8)

    X = pd.DataFrame(X)

    if is_train:
        y = df[
            pd.date_range(t2017, periods=15)
        ].values
        return X, y
    if name_prefix is not None:
        X.columns = ['%s_%s' % (name_prefix, c) for c in X.columns]
    return X

In [30]:
from tqdm import tqdm

In [31]:
print("Preparing dataset...")
t2017 = date(2017, 5, 30)
num_days = 4
X_l, y_l = [], []
for i in tqdm(range(num_days)):
    delta = timedelta(days=7 * i)
    X_tmp, y_tmp = prepare_dataset(df_2017, promo_2017, t2017 + delta)

    X_tmp = pd.concat([X_tmp, items.reset_index(drop=True), stores.reset_index(drop=True)], axis=1)
    X_l.append(X_tmp)
    y_l.append(y_tmp)

X_train = pd.concat(X_l, axis=0)
y_train = np.concatenate(y_l, axis=0)

del X_l, y_l
gc.collect()

  0%|          | 0/4 [00:00<?, ?it/s]

Preparing dataset...

100%|██████████| 4/4 [00:09<00:00,  2.28s/it]

0

In [32]:
X_val, y_val = prepare_dataset(df_2017, promo_2017, date(2017, 7, 11))

# X_val2 = prepare_dataset(df_2017_item, promo_2017_item, date(2017, 7, 26), is_train=False, name_prefix='item')
# X_val2.index = df_2017_item.index
# X_val2 = X_val2.reindex(df_2017.index.get_level_values(1)).reset_index(drop=True)

# X_val3 = prepare_dataset(df_2017_store_class, df_2017_promo_store_class, date(2017, 7, 26), is_train=False, name_prefix='store_class')
# X_val3.index = df_2017_store_class.index
# X_val3 = X_val3.reindex(df_2017_store_class_index).reset_index(drop=True)

X_val = pd.concat([X_val, items.reset_index(drop=True), stores.reset_index(drop=True)], axis=1)

X_test, y_test = prepare_dataset(df_2017, promo_2017, date(2017, 8, 1))

# X_test2 = prepare_dataset(df_2017_item, promo_2017_item, date(2017, 8, 16), is_train=False, name_prefix='item')
# X_test2.index = df_2017_item.index
# X_test2 = X_test2.reindex(df_2017.index.get_level_values(1)).reset_index(drop=True)

# X_test3 = prepare_dataset(df_2017_store_class, df_2017_promo_store_class, date(2017, 8, 16), is_train=False, name_prefix='store_class')
# X_test3.index = df_2017_store_class.index
# X_test3 = X_test3.reindex(df_2017_store_class_index).reset_index(drop=True)

X_test = pd.concat([X_test, items.reset_index(drop=True), stores.reset_index(drop=True)], axis=1)

# del X_test2, X_val2, df_2017_item, promo_2017_item, df_2017_store_class, df_2017_promo_store_class, df_2017_store_class_index
# gc.collect()

In [33]:
for col in X_train.columns:
    if X_train[col].nunique() == 1:
        print(col)

class_1005
class_1328
class_1334

In [34]:
#there are columns with unique values but will leave it here for simplicity

In [35]:
X_train.shape, y_train.shape

((670060, 539), (670060, 15))

In [36]:
X_val.shape, y_val.shape

((167515, 539), (167515, 15))

In [37]:
X_test.shape, y_test.shape

((167515, 539), (167515, 15))

In [38]:
del df_2017, promo_2017
gc.collect()

0

In [39]:
scaler = StandardScaler()
scaler.fit(pd.concat([X_train, X_val, X_test]))
X_train[:] = scaler.transform(X_train)
X_val[:] = scaler.transform(X_val)
X_test[:] = scaler.transform(X_test)

In [40]:
X_train = X_train.values
X_test = X_test.values
X_val = X_val.values

In [41]:
X_train.shape, y_train.shape

((670060, 539), (670060, 15))

In [42]:
X_val.shape, y_val.shape

((167515, 539), (167515, 15))

In [48]:
X_test.shape, y_test.shape

((167515, 539), (167515, 15))

## MLP Model 1

512 x 256 x 128 x 64 x 32 x 16 x 1

In [49]:
def build_model():
    model = Sequential()
    model.add(Dense(512, input_dim=X_train.shape[1]))
    model.add(PReLU())
    model.add(BatchNormalization())
#     model.add(Dropout(.2))

    model.add(Dense(256, input_dim=X_train.shape[1]))
    model.add(PReLU())
    model.add(BatchNormalization())
#     model.add(Dropout(.1))

    model.add(Dense(128, input_dim=X_train.shape[1]))
    model.add(PReLU())
    model.add(BatchNormalization())
#     model.add(Dropout(.05))
#     model.add(Dropout(0.1))
    
    model.add(Dense(64))
    model.add(PReLU())
    model.add(BatchNormalization())
#     model.add(Dropout(.05))

    model.add(Dense(32))
    model.add(PReLU())
    model.add(BatchNormalization())
#     model.add(Dropout(.05))

    model.add(Dense(16))
    model.add(PReLU())
    model.add(BatchNormalization())
#     model.add(Dropout(.05))

    model.add(Dense(1))
    return model

In [50]:
N_EPOCHS = 2000

val_pred = []
test_pred = []
# wtpath = 'weights.hdf5'  # To save best epoch. But need Keras bug to be fixed first.
sample_weights=np.array( pd.concat([items["perishable"]] * num_days) * 0.25 + 1 )
for i in range(15):
    print("=" * 50)
    print("Step %d" % (i+1))
    print("=" * 50)
    y = y_train[:, i]
    y_mean = y.mean()
    xv = X_val
    yv = y_val[:, i]
    model = build_model()

    opt = optimizers.Adam(lr=0.001)
#     opt = optimizers.RMSprop(learning_rate=0.001, rho=0.9)
    model.compile(loss='mse', optimizer=opt, metrics=['mse'])

    callbacks = [
        EarlyStopping(monitor='val_loss', patience=10, verbose=0),
        ReduceLROnPlateau(monitor='val_loss', factor=0.1, patience=7, verbose=1, min_delta=1e-4, mode='min')
        ]
    
    #smaller batch size runs faster
    #batch_size = 65536
    batch_size = 8192

    model.fit(X_train, y - y_mean, batch_size = batch_size, epochs = N_EPOCHS, verbose=2,
               sample_weight=sample_weights, validation_data=(xv,yv-y_mean), callbacks=callbacks )
    val_pred.append(model.predict(X_val)+y_mean)
    test_pred.append(model.predict(X_test)+y_mean)

==================================================
Step 1
==================================================
Train on 670060 samples, validate on 167515 samples
Epoch 1/2000
 - 32s - loss: 0.4553 - mse: 0.4288 - val_loss: 0.3796 - val_mse: 0.3796
Epoch 2/2000
 - 30s - loss: 0.3426 - mse: 0.3235 - val_loss: 0.3309 - val_mse: 0.3309
Epoch 3/2000
 - 31s - loss: 0.3294 - mse: 0.3114 - val_loss: 0.3239 - val_mse: 0.3239
Epoch 4/2000
 - 30s - loss: 0.3214 - mse: 0.3040 - val_loss: 0.3190 - val_mse: 0.3190
Epoch 5/2000
 - 31s - loss: 0.3162 - mse: 0.2992 - val_loss: 0.3219 - val_mse: 0.3219
Epoch 6/2000
 - 30s - loss: 0.3115 - mse: 0.2948 - val_loss: 0.3186 - val_mse: 0.3186
Epoch 7/2000
 - 31s - loss: 0.3081 - mse: 0.2917 - val_loss: 0.3200 - val_mse: 0.3200
Epoch 8/2000
 - 30s - loss: 0.3050 - mse: 0.2888 - val_loss: 0.3220 - val_mse: 0.3220
Epoch 9/2000
 - 31s - loss: 0.3016 - mse: 0.2856 - val_loss: 0.3229 - val_mse: 0.3229
Epoch 10/2000
 - 30s - loss: 0.2982 - mse: 0.2825 - val_loss: 0.3247 - val_mse: 0.3247
Epoch 11/2000
 - 30s - loss: 0.2959 - mse: 0.2804 - val_loss: 0.3237 - val_mse: 0.3237
Epoch 12/2000
 - 30s - loss: 0.2926 - mse: 0.2773 - val_loss: 0.3281 - val_mse: 0.3281
Epoch 13/2000
 - 31s - loss: 0.2898 - mse: 0.2746 - val_loss: 0.3264 - val_mse: 0.3264

Epoch 00013: ReduceLROnPlateau reducing learning rate to 0.00010000000474974513.
Epoch 14/2000
 - 31s - loss: 0.2721 - mse: 0.2583 - val_loss: 0.3255 - val_mse: 0.3255
Epoch 15/2000
 - 31s - loss: 0.2640 - mse: 0.2508 - val_loss: 0.3284 - val_mse: 0.3284
Epoch 16/2000
 - 30s - loss: 0.2600 - mse: 0.2471 - val_loss: 0.3295 - val_mse: 0.3295
==================================================
Step 2
==================================================
Train on 670060 samples, validate on 167515 samples
Epoch 1/2000
 - 32s - loss: 0.5261 - mse: 0.4967 - val_loss: 0.4331 - val_mse: 0.4331
Epoch 2/2000
 - 30s - loss: 0.3516 - mse: 0.3335 - val_loss: 0.3388 - val_mse: 0.3388
Epoch 3/2000
 - 30s - loss: 0.3347 - mse: 0.3181 - val_loss: 0.3238 - val_mse: 0.3238
Epoch 4/2000
 - 30s - loss: 0.3253 - mse: 0.3095 - val_loss: 0.3191 - val_mse: 0.3191
Epoch 5/2000
 - 30s - loss: 0.3192 - mse: 0.3038 - val_loss: 0.3177 - val_mse: 0.3177
Epoch 6/2000
 - 30s - loss: 0.3140 - mse: 0.2989 - val_loss: 0.3197 - val_mse: 0.3197
Epoch 7/2000
 - 30s - loss: 0.3102 - mse: 0.2954 - val_loss: 0.3214 - val_mse: 0.3214
Epoch 8/2000
 - 30s - loss: 0.3065 - mse: 0.2920 - val_loss: 0.3211 - val_mse: 0.3211
Epoch 9/2000
 - 30s - loss: 0.3034 - mse: 0.2890 - val_loss: 0.3220 - val_mse: 0.3220
Epoch 10/2000
 - 30s - loss: 0.3003 - mse: 0.2861 - val_loss: 0.3251 - val_mse: 0.3251
Epoch 11/2000
 - 30s - loss: 0.2976 - mse: 0.2835 - val_loss: 0.3240 - val_mse: 0.3240
Epoch 12/2000
 - 30s - loss: 0.2946 - mse: 0.2807 - val_loss: 0.3294 - val_mse: 0.3294

Epoch 00012: ReduceLROnPlateau reducing learning rate to 0.00010000000474974513.
Epoch 13/2000
 - 30s - loss: 0.2791 - mse: 0.2664 - val_loss: 0.3233 - val_mse: 0.3233
Epoch 14/2000
 - 30s - loss: 0.2722 - mse: 0.2599 - val_loss: 0.3253 - val_mse: 0.3253
Epoch 15/2000
 - 30s - loss: 0.2692 - mse: 0.2571 - val_loss: 0.3272 - val_mse: 0.3272
==================================================
Step 3
==================================================
Train on 670060 samples, validate on 167515 samples
Epoch 1/2000
 - 32s - loss: 0.4663 - mse: 0.4402 - val_loss: 0.3843 - val_mse: 0.3843
Epoch 2/2000
 - 30s - loss: 0.3656 - mse: 0.3455 - val_loss: 0.3471 - val_mse: 0.3471
Epoch 3/2000
 - 30s - loss: 0.3540 - mse: 0.3347 - val_loss: 0.3438 - val_mse: 0.3438
Epoch 4/2000
 - 30s - loss: 0.3466 - mse: 0.3278 - val_loss: 0.3440 - val_mse: 0.3440
Epoch 5/2000
 - 30s - loss: 0.3407 - mse: 0.3223 - val_loss: 0.3434 - val_mse: 0.3434
Epoch 6/2000
 - 30s - loss: 0.3363 - mse: 0.3182 - val_loss: 0.3465 - val_mse: 0.3465
Epoch 7/2000
 - 31s - loss: 0.3322 - mse: 0.3144 - val_loss: 0.3498 - val_mse: 0.3498
Epoch 8/2000
 - 30s - loss: 0.3287 - mse: 0.3111 - val_loss: 0.3532 - val_mse: 0.3532
Epoch 9/2000
 - 30s - loss: 0.3255 - mse: 0.3081 - val_loss: 0.3524 - val_mse: 0.3524
Epoch 10/2000
 - 30s - loss: 0.3217 - mse: 0.3046 - val_loss: 0.3521 - val_mse: 0.3521
Epoch 11/2000
 - 30s - loss: 0.3185 - mse: 0.3017 - val_loss: 0.3534 - val_mse: 0.3534
Epoch 12/2000
 - 31s - loss: 0.3158 - mse: 0.2992 - val_loss: 0.3573 - val_mse: 0.3573

Epoch 00012: ReduceLROnPlateau reducing learning rate to 0.00010000000474974513.
Epoch 13/2000
 - 31s - loss: 0.2978 - mse: 0.2825 - val_loss: 0.3541 - val_mse: 0.3541
Epoch 14/2000
 - 31s - loss: 0.2890 - mse: 0.2744 - val_loss: 0.3568 - val_mse: 0.3568
Epoch 15/2000
 - 30s - loss: 0.2848 - mse: 0.2704 - val_loss: 0.3593 - val_mse: 0.3593
==================================================
Step 4
==================================================
Train on 670060 samples, validate on 167515 samples
Epoch 1/2000
 - 32s - loss: 0.5080 - mse: 0.4794 - val_loss: 0.4340 - val_mse: 0.4340
Epoch 2/2000
 - 30s - loss: 0.3711 - mse: 0.3519 - val_loss: 0.3602 - val_mse: 0.3602
Epoch 3/2000
 - 30s - loss: 0.3554 - mse: 0.3374 - val_loss: 0.3473 - val_mse: 0.3473
Epoch 4/2000
 - 31s - loss: 0.3465 - mse: 0.3292 - val_loss: 0.3440 - val_mse: 0.3440
Epoch 5/2000
 - 30s - loss: 0.3395 - mse: 0.3227 - val_loss: 0.3459 - val_mse: 0.3459
Epoch 6/2000
 - 30s - loss: 0.3346 - mse: 0.3180 - val_loss: 0.3452 - val_mse: 0.3452
Epoch 7/2000
 - 30s - loss: 0.3305 - mse: 0.3142 - val_loss: 0.3487 - val_mse: 0.3487
Epoch 8/2000
 - 30s - loss: 0.3263 - mse: 0.3103 - val_loss: 0.3480 - val_mse: 0.3480
Epoch 9/2000
 - 30s - loss: 0.3228 - mse: 0.3070 - val_loss: 0.3499 - val_mse: 0.3499
Epoch 10/2000
 - 30s - loss: 0.3196 - mse: 0.3040 - val_loss: 0.3542 - val_mse: 0.3542
Epoch 11/2000
 - 30s - loss: 0.3161 - mse: 0.3007 - val_loss: 0.3548 - val_mse: 0.3548

Epoch 00011: ReduceLROnPlateau reducing learning rate to 0.00010000000474974513.
Epoch 12/2000
 - 30s - loss: 0.2994 - mse: 0.2852 - val_loss: 0.3485 - val_mse: 0.3485
Epoch 13/2000
 - 30s - loss: 0.2921 - mse: 0.2783 - val_loss: 0.3496 - val_mse: 0.3496
Epoch 14/2000
 - 30s - loss: 0.2886 - mse: 0.2751 - val_loss: 0.3515 - val_mse: 0.3515
==================================================
Step 5
==================================================
Train on 670060 samples, validate on 167515 samples
Epoch 1/2000
 - 32s - loss: 0.5554 - mse: 0.5241 - val_loss: 0.4280 - val_mse: 0.4280
Epoch 2/2000
 - 30s - loss: 0.3903 - mse: 0.3692 - val_loss: 0.3799 - val_mse: 0.3799
Epoch 3/2000
 - 30s - loss: 0.3755 - mse: 0.3554 - val_loss: 0.3707 - val_mse: 0.3707
Epoch 4/2000
 - 30s - loss: 0.3665 - mse: 0.3471 - val_loss: 0.3678 - val_mse: 0.3678
Epoch 5/2000
 - 31s - loss: 0.3595 - mse: 0.3406 - val_loss: 0.3667 - val_mse: 0.3667
Epoch 6/2000
 - 30s - loss: 0.3540 - mse: 0.3354 - val_loss: 0.3710 - val_mse: 0.3710
Epoch 7/2000
 - 30s - loss: 0.3494 - mse: 0.3312 - val_loss: 0.3728 - val_mse: 0.3728
Epoch 8/2000
 - 30s - loss: 0.3451 - mse: 0.3272 - val_loss: 0.3676 - val_mse: 0.3676
Epoch 9/2000
 - 30s - loss: 0.3408 - mse: 0.3231 - val_loss: 0.3725 - val_mse: 0.3725
Epoch 10/2000
 - 30s - loss: 0.3371 - mse: 0.3197 - val_loss: 0.3729 - val_mse: 0.3729
Epoch 11/2000
 - 30s - loss: 0.3335 - mse: 0.3163 - val_loss: 0.3798 - val_mse: 0.3798
Epoch 12/2000
 - 30s - loss: 0.3300 - mse: 0.3131 - val_loss: 0.3790 - val_mse: 0.3790

Epoch 00012: ReduceLROnPlateau reducing learning rate to 0.00010000000474974513.
Epoch 13/2000
 - 30s - loss: 0.3106 - mse: 0.2951 - val_loss: 0.3732 - val_mse: 0.3732
Epoch 14/2000
 - 30s - loss: 0.3022 - mse: 0.2873 - val_loss: 0.3768 - val_mse: 0.3768
Epoch 15/2000
 - 30s - loss: 0.2981 - mse: 0.2835 - val_loss: 0.3795 - val_mse: 0.3795
==================================================
Step 6
==================================================
Train on 670060 samples, validate on 167515 samples
Epoch 1/2000
 - 32s - loss: 0.5605 - mse: 0.5296 - val_loss: 0.4434 - val_mse: 0.4434
Epoch 2/2000
 - 31s - loss: 0.4042 - mse: 0.3822 - val_loss: 0.3917 - val_mse: 0.3917
Epoch 3/2000
 - 31s - loss: 0.3876 - mse: 0.3669 - val_loss: 0.3805 - val_mse: 0.3805
Epoch 4/2000
 - 30s - loss: 0.3778 - mse: 0.3579 - val_loss: 0.3791 - val_mse: 0.3791
Epoch 5/2000
 - 31s - loss: 0.3702 - mse: 0.3508 - val_loss: 0.3780 - val_mse: 0.3780
Epoch 6/2000
 - 31s - loss: 0.3641 - mse: 0.3452 - val_loss: 0.3783 - val_mse: 0.3783
Epoch 7/2000
 - 31s - loss: 0.3589 - mse: 0.3403 - val_loss: 0.3804 - val_mse: 0.3804
Epoch 8/2000
 - 31s - loss: 0.3543 - mse: 0.3361 - val_loss: 0.3790 - val_mse: 0.3790
Epoch 9/2000
 - 30s - loss: 0.3502 - mse: 0.3322 - val_loss: 0.3834 - val_mse: 0.3834
Epoch 10/2000
 - 30s - loss: 0.3469 - mse: 0.3292 - val_loss: 0.3913 - val_mse: 0.3913
Epoch 11/2000
 - 31s - loss: 0.3429 - mse: 0.3255 - val_loss: 0.3819 - val_mse: 0.3819
Epoch 12/2000
 - 30s - loss: 0.3393 - mse: 0.3221 - val_loss: 0.3907 - val_mse: 0.3907

Epoch 00012: ReduceLROnPlateau reducing learning rate to 0.00010000000474974513.
Epoch 13/2000
 - 30s - loss: 0.3200 - mse: 0.3043 - val_loss: 0.3838 - val_mse: 0.3838
Epoch 14/2000
 - 30s - loss: 0.3119 - mse: 0.2967 - val_loss: 0.3850 - val_mse: 0.3850
Epoch 15/2000
 - 31s - loss: 0.3081 - mse: 0.2933 - val_loss: 0.3872 - val_mse: 0.3872
==================================================
Step 7
==================================================
Train on 670060 samples, validate on 167515 samples
Epoch 1/2000
 - 34s - loss: 0.5051 - mse: 0.4754 - val_loss: 0.4233 - val_mse: 0.4233
Epoch 2/2000
 - 31s - loss: 0.3879 - mse: 0.3656 - val_loss: 0.3806 - val_mse: 0.3806
Epoch 3/2000
 - 30s - loss: 0.3738 - mse: 0.3526 - val_loss: 0.3716 - val_mse: 0.3716
Epoch 4/2000
 - 32s - loss: 0.3659 - mse: 0.3453 - val_loss: 0.3729 - val_mse: 0.3729
Epoch 5/2000
 - 30s - loss: 0.3596 - mse: 0.3395 - val_loss: 0.3713 - val_mse: 0.3713
Epoch 6/2000
 - 30s - loss: 0.3545 - mse: 0.3348 - val_loss: 0.3739 - val_mse: 0.3739
Epoch 7/2000
 - 30s - loss: 0.3504 - mse: 0.3310 - val_loss: 0.3751 - val_mse: 0.3751
Epoch 8/2000
 - 30s - loss: 0.3464 - mse: 0.3272 - val_loss: 0.3766 - val_mse: 0.3766
Epoch 9/2000
 - 31s - loss: 0.3422 - mse: 0.3233 - val_loss: 0.3797 - val_mse: 0.3797
Epoch 10/2000
 - 31s - loss: 0.3390 - mse: 0.3204 - val_loss: 0.3785 - val_mse: 0.3785
Epoch 11/2000
 - 30s - loss: 0.3352 - mse: 0.3168 - val_loss: 0.3820 - val_mse: 0.3820
Epoch 12/2000
 - 31s - loss: 0.3317 - mse: 0.3136 - val_loss: 0.3846 - val_mse: 0.3846

Epoch 00012: ReduceLROnPlateau reducing learning rate to 0.00010000000474974513.
Epoch 13/2000
 - 32s - loss: 0.3126 - mse: 0.2959 - val_loss: 0.3848 - val_mse: 0.3848
Epoch 14/2000
 - 30s - loss: 0.3027 - mse: 0.2868 - val_loss: 0.3867 - val_mse: 0.3867
Epoch 15/2000
 - 36s - loss: 0.2983 - mse: 0.2827 - val_loss: 0.3897 - val_mse: 0.3897
==================================================
Step 8
==================================================
Train on 670060 samples, validate on 167515 samples
Epoch 1/2000
 - 42s - loss: 0.4734 - mse: 0.4457 - val_loss: 0.3899 - val_mse: 0.3899
Epoch 2/2000
 - 45s - loss: 0.3756 - mse: 0.3551 - val_loss: 0.3639 - val_mse: 0.3639
Epoch 3/2000
 - 41s - loss: 0.3622 - mse: 0.3429 - val_loss: 0.3581 - val_mse: 0.3581
Epoch 4/2000
 - 40s - loss: 0.3538 - mse: 0.3352 - val_loss: 0.3585 - val_mse: 0.3585
Epoch 5/2000
 - 42s - loss: 0.3478 - mse: 0.3297 - val_loss: 0.3576 - val_mse: 0.3576
Epoch 6/2000
 - 44s - loss: 0.3427 - mse: 0.3249 - val_loss: 0.3608 - val_mse: 0.3608
Epoch 7/2000
 - 47s - loss: 0.3385 - mse: 0.3211 - val_loss: 0.3613 - val_mse: 0.3613
Epoch 8/2000
 - 40s - loss: 0.3346 - mse: 0.3174 - val_loss: 0.3618 - val_mse: 0.3618
Epoch 9/2000
 - 42s - loss: 0.3311 - mse: 0.3141 - val_loss: 0.3663 - val_mse: 0.3663
Epoch 10/2000
 - 45s - loss: 0.3274 - mse: 0.3107 - val_loss: 0.3682 - val_mse: 0.3682
Epoch 11/2000
 - 42s - loss: 0.3240 - mse: 0.3075 - val_loss: 0.3686 - val_mse: 0.3686
Epoch 12/2000
 - 61s - loss: 0.3204 - mse: 0.3042 - val_loss: 0.3732 - val_mse: 0.3732

Epoch 00012: ReduceLROnPlateau reducing learning rate to 0.00010000000474974513.
Epoch 13/2000
 - 52s - loss: 0.3019 - mse: 0.2870 - val_loss: 0.3699 - val_mse: 0.3699
Epoch 14/2000
 - 42s - loss: 0.2931 - mse: 0.2788 - val_loss: 0.3728 - val_mse: 0.3728
Epoch 15/2000
 - 48s - loss: 0.2886 - mse: 0.2746 - val_loss: 0.3763 - val_mse: 0.3763
==================================================
Step 9
==================================================
Train on 670060 samples, validate on 167515 samples
Epoch 1/2000
 - 38s - loss: 0.5188 - mse: 0.4895 - val_loss: 0.4062 - val_mse: 0.4062
Epoch 2/2000
 - 35s - loss: 0.3678 - mse: 0.3494 - val_loss: 0.3657 - val_mse: 0.3657
Epoch 3/2000
 - 68s - loss: 0.3510 - mse: 0.3341 - val_loss: 0.3556 - val_mse: 0.3556
Epoch 4/2000
 - 68s - loss: 0.3414 - mse: 0.3252 - val_loss: 0.3524 - val_mse: 0.3524
Epoch 5/2000
 - 80s - loss: 0.3352 - mse: 0.3195 - val_loss: 0.3558 - val_mse: 0.3558
Epoch 6/2000
 - 63s - loss: 0.3302 - mse: 0.3148 - val_loss: 0.3530 - val_mse: 0.3530
Epoch 7/2000
 - 69s - loss: 0.3260 - mse: 0.3109 - val_loss: 0.3544 - val_mse: 0.3544
Epoch 8/2000
 - 69s - loss: 0.3226 - mse: 0.3077 - val_loss: 0.3542 - val_mse: 0.3542
Epoch 9/2000
 - 65s - loss: 0.3195 - mse: 0.3047 - val_loss: 0.3565 - val_mse: 0.3565
Epoch 10/2000
 - 58s - loss: 0.3157 - mse: 0.3012 - val_loss: 0.3577 - val_mse: 0.3577
Epoch 11/2000
 - 88s - loss: 0.3127 - mse: 0.2984 - val_loss: 0.3589 - val_mse: 0.3589

Epoch 00011: ReduceLROnPlateau reducing learning rate to 0.00010000000474974513.
Epoch 12/2000
 - 72s - loss: 0.2966 - mse: 0.2833 - val_loss: 0.3565 - val_mse: 0.3565
Epoch 13/2000
 - 79s - loss: 0.2898 - mse: 0.2769 - val_loss: 0.3586 - val_mse: 0.3586
Epoch 14/2000
 - 63s - loss: 0.2866 - mse: 0.2740 - val_loss: 0.3596 - val_mse: 0.3596
==================================================
Step 10
==================================================
Train on 670060 samples, validate on 167515 samples
Epoch 1/2000
 - 52s - loss: 0.5065 - mse: 0.4769 - val_loss: 0.4189 - val_mse: 0.4189
Epoch 2/2000
 - 36s - loss: 0.3708 - mse: 0.3502 - val_loss: 0.3771 - val_mse: 0.3771
Epoch 3/2000
 - 35s - loss: 0.3577 - mse: 0.3381 - val_loss: 0.3663 - val_mse: 0.3663
Epoch 4/2000
 - 33s - loss: 0.3497 - mse: 0.3307 - val_loss: 0.3650 - val_mse: 0.3650
Epoch 5/2000
 - 31s - loss: 0.3436 - mse: 0.3251 - val_loss: 0.3667 - val_mse: 0.3667
Epoch 6/2000
 - 35s - loss: 0.3390 - mse: 0.3208 - val_loss: 0.3676 - val_mse: 0.3676
Epoch 7/2000
 - 36s - loss: 0.3348 - mse: 0.3169 - val_loss: 0.3702 - val_mse: 0.3702
Epoch 8/2000
 - 37s - loss: 0.3312 - mse: 0.3135 - val_loss: 0.3698 - val_mse: 0.3698
Epoch 9/2000
 - 32s - loss: 0.3273 - mse: 0.3099 - val_loss: 0.3737 - val_mse: 0.3737
Epoch 10/2000
 - 38s - loss: 0.3238 - mse: 0.3067 - val_loss: 0.3748 - val_mse: 0.3748
Epoch 11/2000
 - 34s - loss: 0.3204 - mse: 0.3035 - val_loss: 0.3758 - val_mse: 0.3758

Epoch 00011: ReduceLROnPlateau reducing learning rate to 0.00010000000474974513.
Epoch 12/2000
 - 39s - loss: 0.3027 - mse: 0.2871 - val_loss: 0.3776 - val_mse: 0.3776
Epoch 13/2000
 - 46s - loss: 0.2952 - mse: 0.2801 - val_loss: 0.3799 - val_mse: 0.3799
Epoch 14/2000
 - 38s - loss: 0.2917 - mse: 0.2768 - val_loss: 0.3816 - val_mse: 0.3816
==================================================
Step 11
==================================================
Train on 670060 samples, validate on 167515 samples
Epoch 1/2000
 - 79s - loss: 0.4828 - mse: 0.4564 - val_loss: 0.4125 - val_mse: 0.4125
Epoch 2/2000
 - 60s - loss: 0.3729 - mse: 0.3538 - val_loss: 0.3705 - val_mse: 0.3705
Epoch 3/2000
 - 68s - loss: 0.3579 - mse: 0.3400 - val_loss: 0.3655 - val_mse: 0.3655
Epoch 4/2000
 - 87s - loss: 0.3492 - mse: 0.3319 - val_loss: 0.3667 - val_mse: 0.3667
Epoch 5/2000
 - 95s - loss: 0.3429 - mse: 0.3261 - val_loss: 0.3678 - val_mse: 0.3678
Epoch 6/2000
 - 61s - loss: 0.3382 - mse: 0.3217 - val_loss: 0.3690 - val_mse: 0.3690
Epoch 7/2000
 - 56s - loss: 0.3338 - mse: 0.3176 - val_loss: 0.3680 - val_mse: 0.3680
Epoch 8/2000
 - 85s - loss: 0.3297 - mse: 0.3138 - val_loss: 0.3693 - val_mse: 0.3693
Epoch 9/2000
 - 92s - loss: 0.3260 - mse: 0.3103 - val_loss: 0.3720 - val_mse: 0.3720
Epoch 10/2000
 - 90s - loss: 0.3232 - mse: 0.3077 - val_loss: 0.3717 - val_mse: 0.3717

Epoch 00010: ReduceLROnPlateau reducing learning rate to 0.00010000000474974513.
Epoch 11/2000
 - 114s - loss: 0.3050 - mse: 0.2907 - val_loss: 0.3690 - val_mse: 0.3690
Epoch 12/2000
 - 95s - loss: 0.2974 - mse: 0.2837 - val_loss: 0.3707 - val_mse: 0.3707
Epoch 13/2000
 - 97s - loss: 0.2938 - mse: 0.2803 - val_loss: 0.3730 - val_mse: 0.3730
==================================================
Step 12
==================================================
Train on 670060 samples, validate on 167515 samples
Epoch 1/2000
 - 57s - loss: 0.5236 - mse: 0.4945 - val_loss: 0.4342 - val_mse: 0.4342
Epoch 2/2000
 - 78s - loss: 0.4092 - mse: 0.3875 - val_loss: 0.3993 - val_mse: 0.3993
Epoch 3/2000
 - 87s - loss: 0.3936 - mse: 0.3729 - val_loss: 0.3983 - val_mse: 0.3983
Epoch 4/2000
 - 100s - loss: 0.3837 - mse: 0.3637 - val_loss: 0.4004 - val_mse: 0.4004
Epoch 5/2000
 - 112s - loss: 0.3771 - mse: 0.3577 - val_loss: 0.3993 - val_mse: 0.3993
Epoch 6/2000
 - 88s - loss: 0.3707 - mse: 0.3517 - val_loss: 0.4018 - val_mse: 0.4018
Epoch 7/2000
 - 109s - loss: 0.3658 - mse: 0.3471 - val_loss: 0.4002 - val_mse: 0.4002
Epoch 8/2000
 - 118s - loss: 0.3607 - mse: 0.3423 - val_loss: 0.4094 - val_mse: 0.4094
Epoch 9/2000
 - 96s - loss: 0.3560 - mse: 0.3380 - val_loss: 0.4125 - val_mse: 0.4125
Epoch 10/2000
 - 71s - loss: 0.3521 - mse: 0.3343 - val_loss: 0.4089 - val_mse: 0.4089

Epoch 00010: ReduceLROnPlateau reducing learning rate to 0.00010000000474974513.
Epoch 11/2000
 - 53s - loss: 0.3324 - mse: 0.3161 - val_loss: 0.4023 - val_mse: 0.4023
Epoch 12/2000
 - 88s - loss: 0.3238 - mse: 0.3082 - val_loss: 0.4048 - val_mse: 0.4048
Epoch 13/2000
 - 93s - loss: 0.3198 - mse: 0.3044 - val_loss: 0.4078 - val_mse: 0.4078
==================================================
Step 13
==================================================
Train on 670060 samples, validate on 167515 samples
Epoch 1/2000
 - 79s - loss: 0.5462 - mse: 0.5159 - val_loss: 0.4595 - val_mse: 0.4595
Epoch 2/2000
 - 91s - loss: 0.4223 - mse: 0.3999 - val_loss: 0.4181 - val_mse: 0.4181
Epoch 3/2000
 - 88s - loss: 0.4040 - mse: 0.3829 - val_loss: 0.4083 - val_mse: 0.4083
Epoch 4/2000
 - 88s - loss: 0.3923 - mse: 0.3720 - val_loss: 0.4052 - val_mse: 0.4052
Epoch 5/2000
 - 92s - loss: 0.3842 - mse: 0.3645 - val_loss: 0.4126 - val_mse: 0.4126
Epoch 6/2000
 - 81s - loss: 0.3779 - mse: 0.3585 - val_loss: 0.4121 - val_mse: 0.4121
Epoch 7/2000
 - 95s - loss: 0.3722 - mse: 0.3533 - val_loss: 0.4204 - val_mse: 0.4204
Epoch 8/2000
 - 119s - loss: 0.3665 - mse: 0.3479 - val_loss: 0.4162 - val_mse: 0.4162
Epoch 9/2000
 - 94s - loss: 0.3621 - mse: 0.3439 - val_loss: 0.4240 - val_mse: 0.4240
Epoch 10/2000
 - 103s - loss: 0.3575 - mse: 0.3395 - val_loss: 0.4279 - val_mse: 0.4279
Epoch 11/2000
 - 37s - loss: 0.3527 - mse: 0.3350 - val_loss: 0.4241 - val_mse: 0.4241

Epoch 00011: ReduceLROnPlateau reducing learning rate to 0.00010000000474974513.
Epoch 12/2000
 - 44s - loss: 0.3323 - mse: 0.3161 - val_loss: 0.4192 - val_mse: 0.4192
Epoch 13/2000
 - 34s - loss: 0.3229 - mse: 0.3075 - val_loss: 0.4217 - val_mse: 0.4217
Epoch 14/2000
 - 33s - loss: 0.3187 - mse: 0.3036 - val_loss: 0.4246 - val_mse: 0.4246
==================================================
Step 14
==================================================
Train on 670060 samples, validate on 167515 samples
Epoch 1/2000
 - 65s - loss: 0.5265 - mse: 0.4964 - val_loss: 0.4443 - val_mse: 0.4443
Epoch 2/2000
 - 95s - loss: 0.4010 - mse: 0.3783 - val_loss: 0.4055 - val_mse: 0.4055
Epoch 3/2000
 - 59s - loss: 0.3874 - mse: 0.3658 - val_loss: 0.4038 - val_mse: 0.4038
Epoch 4/2000
 - 74s - loss: 0.3788 - mse: 0.3578 - val_loss: 0.4027 - val_mse: 0.4027
Epoch 5/2000

In [ ]:
model = build_model()

In [ ]:
type(model)

In [87]:
weight = items["perishable"] * 0.25 + 1
val_err = (y_val - np.array(val_pred).squeeze(axis=2).transpose())**2
val_err = val_err.sum(axis=1) * weight
#change to 15 days
val_err = np.sqrt(val_err.sum() / weight.sum() / 15)
print('validation nwrmsle = {}'.format(val_err))

validation nwrmsle = 0.615181004370035

In [86]:
test_err = (y_test - np.array(test_pred).squeeze(axis=2).transpose())**2
test_err = test_err.sum(axis=1) * weight
#change to 15 days
test_err = np.sqrt(test_err.sum() / weight.sum() / 15)
print('test nwrmsle = {}'.format(test_err))

test nwrmsle = 0.6287589748678302

In [84]:
df_pred_test = pd.DataFrame(np.array(test_pred).squeeze(axis=2).transpose(), 
                            index = df_2017_index, columns = pd.date_range('2017-08-01',periods=15))

In [85]:
df_pred_test.to_csv('../derived_datasets/nn_test_pred_model_1.csv')